**1st part: Install Spark**

In [2]:
# Install java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
# Install spark (change the version number if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz
# Unzip the spark file to the current folder
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

In [3]:
# Set your spark folder to your system path environment
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

In [4]:
# Install findspark using pip
!pip install -q findspark

In [5]:
# Spark for Python
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 35 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 52.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=8f1d1080c9e7475d0660b4990bd78988c1c08c019adaa84a92ac0104bfc04dbe
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [6]:
import findspark 
findspark.init()

In [8]:
from pyspark.sql import SparkSession

In [9]:
sc = SparkSession.builder.master("local[*]").getOrCreate()

**Second part: Load the data set from my desktop**

In [ ]:
files.upload()

In [10]:
!ls

cities.csv  groups_topics.csv  spark-3.0.0-bin-hadoop3.2	topics.csv
events.csv  members.csv        spark-3.0.0-bin-hadoop3.2.tgz	venues.csv
groups.csv  sample_data        spark-3.0.0-bin-hadoop3.2.tgz.1

In [12]:
data_cities = sc.read.csv ("cities.csv", inferSchema= True , header= True)

In [13]:
data_events = sc.read.csv ("events.csv", inferSchema= True , header= True)

In [14]:
data_groups = sc.read.csv ("groups.csv", inferSchema= True , header= True)

In [15]:
data_groupsTopics = sc.read.csv ("groups_topics.csv", inferSchema= True , header= True)

In [16]:
data_members = sc.read.csv ("members.csv", inferSchema= True , header= True)

In [19]:
data_topics = sc.read.csv ("/content/topics.csv", inferSchema= True , header= True)

In [21]:
data_venues = sc.read.csv ("venues.csv", inferSchema= True , header= True)

**Third part: discovering data**

In [22]:
data_cities.printSchema() #to ensure if spark read correctly the data set
data_cities.describe().toPandas().transpose()#use describe and convert the output to Pandas and use transpose to make it more clear 
                                     #in order to use some statistic values for better understanding and identify any anomalies
                                     #statistics are calculated by the describe() function on a dataset in PySpark (mean, max , min...)

root
 |-- city: string (nullable = true)
 |-- city_id: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- distance: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- localized_country_name: string (nullable = true)
 |-- longitude: double (nullable = true)
 |-- member_count: integer (nullable = true)
 |-- ranking: integer (nullable = true)
 |-- state: string (nullable = true)
 |-- zip: integer (nullable = true)

                            0                   1  ...          3              4
summary                 count                mean  ...        min            max
city                       13                None  ...    Chicago  West New York
city_id                    13   55304.53846153846  ...       7093          95712
country                    13                None  ...         us             us
distance                   13  1523.7936153846158  ...     25.883       2526.837
latitude                   13   41.29769223076922  ...  37.650002      46.689999
localized_country_name     13                None  ...        USA            USA
longitude                  13  -93.15230738461538  ...    -122.43     -73.989998
member_count               13  29411.615384615383  ...          4         229371
ranking                    13   53.76923076923077  ...          0            178
state                      13                None  ...         CA             NY
zip                        13   55280.61538461538  ...       7093          95712

[12 rows x 5 columns]

In [23]:
data_events.printSchema()
data_events.describe().toPandas().transpose()

root
 |-- event_id: string (nullable = true)
 |-- created: string (nullable = true)
 |-- description: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- event_url: string (nullable = true)
 |-- fee.accepts: string (nullable = true)
 |-- fee.amount: double (nullable = true)
 |-- fee.currency: string (nullable = true)
 |-- fee.description: string (nullable = true)
 |-- fee.label: string (nullable = true)
 |-- fee.required: integer (nullable = true)
 |-- group.created: string (nullable = true)
 |-- group.group_lat: double (nullable = true)
 |-- group.group_lon: double (nullable = true)
 |-- group_id: integer (nullable = true)
 |-- group.join_mode: string (nullable = true)
 |-- group.name: string (nullable = true)
 |-- group.urlname: string (nullable = true)
 |-- group.who: string (nullable = true)
 |-- headcount: integer (nullable = true)
 |-- how_to_find_us: string (nullable = true)
 |-- maybe_rsvp_count: integer (nullable = true)
 |-- event_name: string (nullable = true)
 |-- photo_url: string (nullable = true)
 |-- rating.average: double (nullable = true)
 |-- rating.count: integer (nullable = true)
 |-- rsvp_limit: integer (nullable = true)
 |-- event_status: string (nullable = true)
 |-- event_time: string (nullable = true)
 |-- updated: string (nullable = true)
 |-- utc_offset: integer (nullable = true)
 |-- venue.address_1: string (nullable = true)
 |-- venue.address_2: string (nullable = true)
 |-- venue.city: string (nullable = true)
 |-- venue.country: string (nullable = true)
 |-- venue_id: integer (nullable = true)
 |-- venue.lat: double (nullable = true)
 |-- venue.localized_country_name: string (nullable = true)
 |-- venue.lon: double (nullable = true)
 |-- venue.name: string (nullable = true)
 |-- venue.phone: long (nullable = true)
 |-- venue.repinned: integer (nullable = true)
 |-- venue.state: string (nullable = true)
 |-- venue.zip: integer (nullable = true)
 |-- visibility: string (nullable = true)
 |-- waitlist_count: integer (nullable = true)
 |-- why: string (nullable = true)
 |-- yes_rsvp_count: integer (nullable = true)

                                  0  ...                                                  4
summary                       count  ...                                                max
event_id                       5807  ...                                       zzsxdlyxnbtb
created                        5807  ...                                2017-10-25 22:21:34
description                    5795  ...  ~ FREE WEBINAR ~ In order to receive the Webin...
duration                       5807  ...                                            1209600
event_url                      5807  ...  https://www.meetup.com/www-womensprosperitynet...
fee.accepts                    5807  ...                                              wepay
fee.amount                     5807  ...                                               95.0
fee.currency                   5807  ...                                          not_found
fee.description                5807  ...                                         per person
fee.label                      5807  ...                                              price
fee.required                   5807  ...                                                  1
group.created                  5807  ...                                2017-10-21 02:41:04
group.group_lat                5807  ...                                          42.009998
group.group_lon                5807  ...                                         -73.919998
group_id                       5807  ...                                           26333051
group.join_mode                5807  ...                                               open
group.name                     5807  ...       iShare Content for Digital Publishers Meetup
group.urlname                  5807  ...                www-womensprosperitynetwork-com-nyc
group.who                      5807  ...                                           wisegals
headcount                      5807  ...                                                  0
how_to_find_us                 5807  ...  take the Clark Bus Route 22 to Farwell and wal...
maybe_rsvp_count               5807  ...                                                  0
event_name                     5757  ...  every Thursday  ARTSAVESLIVES Gallery  6-900  ...
photo_url                      5807  ...                                          not_found
rating.average                 5807  ...                                                0.0
rating.count                   5807  ...                                                 -1
rsvp_limit                     5807  ...                                                200
event_status                   5807  ...                                           upcoming
event_time                     5807  ...                                2018-10-25 23:00:00
updated                        5807  ...                                2017-10-25 22:59:56
utc_offset                     5807  ...                                             -14400
venue.address_1                5807  ...                                          telephone
venue.address_2                5807  ...                                          not_found
venue.city                     5807  ...                                      san francisco
venue.country                  5807  ...                                                 us
venue_id                       5807  ...                                           25573631
venue.lat                      5807  ...                                          42.056324
venue.localized_country_name   5807  ...                                                USA
venue.lon                      5807  ...                                                0.0
venue.name                     5807  ...                                             wework
venue.phone                    5807  ...                                         9142638484
venue.repinned                 5807  ...                                                  1
venue.state                    5807  ...                                          not_found
venue.zip                      5807  ...                                                 -1
visibility                     5807  ...                                             public
waitlist_count                 5807  ...                                                 15
why                            5807  ...                                          not_found
yes_rsvp_count                 5807  ...                                                198

[49 rows x 5 columns]

In [24]:
data_groups.printSchema()
data_groups.describe().toPandas().transpose()

root
 |-- group_id: integer (nullable = true)
 |-- category_id: integer (nullable = true)
 |-- category.name: string (nullable = true)
 |-- category.shortname: string (nullable = true)
 |-- city_id: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- created: string (nullable = true)
 |-- description: string (nullable = true)
 |-- group_photo.base_url: string (nullable = true)
 |-- group_photo.highres_link: string (nullable = true)
 |-- group_photo.photo_id: integer (nullable = true)
 |-- group_photo.photo_link: string (nullable = true)
 |-- group_photo.thumb_link: string (nullable = true)
 |-- group_photo.type: string (nullable = true)
 |-- join_mode: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- link: string (nullable = true)
 |-- lon: double (nullable = true)
 |-- members: integer (nullable = true)
 |-- group_name: string (nullable = true)
 |-- organizer.member_id: integer (nullable = true)
 |-- organizer.name: string (nullable = true)
 |-- organizer.photo.base_url: string (nullable = true)
 |-- organizer.photo.highres_link: string (nullable = true)
 |-- organizer.photo.photo_id: integer (nullable = true)
 |-- organizer.photo.photo_link: string (nullable = true)
 |-- organizer.photo.thumb_link: string (nullable = true)
 |-- organizer.photo.type: string (nullable = true)
 |-- rating: double (nullable = true)
 |-- state: string (nullable = true)
 |-- timezone: string (nullable = true)
 |-- urlname: string (nullable = true)
 |-- utc_offset: integer (nullable = true)
 |-- visibility: string (nullable = true)
 |-- who: string (nullable = true)

                                  0  ...                                                  4
summary                       count  ...                                                max
group_id                      16330  ...                                           26378470
category_id                   16330  ...                                                 36
category.name                 16330  ...                                            writing
category.shortname            16330  ...                                            writing
city_id                       16330  ...                                              94101
city                          16330  ...                                      West New York
country                       16330  ...                                                 US
created                       16330  ...                                2017-10-25 05:08:23
description                   16328  ...  ~~~ What your Meetup Group is about:\nJoin us ...
group_photo.base_url          16330  ...                                          not_found
group_photo.highres_link      16330  ...                                          not_found
group_photo.photo_id          16330  ...                                          465610979
group_photo.photo_link        16330  ...                                          not_found
group_photo.thumb_link        16330  ...                                          not_found
group_photo.type              16330  ...                                             others
join_mode                     16330  ...                                               open
lat                           16330  ...                                          42.330002
link                          16330  ...                  https://www.meetup.com/zettabyte/
lon                           16330  ...                                         -73.919998
members                       16330  ...                                              31215
group_name                    16330  ...                              ~Art, Truth & Beauty~
organizer.member_id           16330  ...                                          239665148
organizer.name                16330  ...                                            ~Kathy~
organizer.photo.base_url      16330  ...                                          not_found
organizer.photo.highres_link  16330  ...                                          not_found
organizer.photo.photo_id      16330  ...                                          271835126
organizer.photo.photo_link    16330  ...                                          not_found
organizer.photo.thumb_link    16330  ...                                          not_found
organizer.photo.type          16330  ...                                             others
rating                        16330  ...                                                5.0
state                         16330  ...                                                 NY
timezone                      16330  ...                                         US/Pacific
urlname                       16329  ...                                          zettabyte
utc_offset                    16330  ...                                             -14400
visibility                    16330  ...                                     public_limited
who                           16313  ...                                     {{developers}}

[37 rows x 5 columns]

In [25]:
data_groupsTopics.printSchema()
data_groupsTopics.describe().toPandas().transpose()

root
 |-- topic_id: integer (nullable = true)
 |-- topic_key: string (nullable = true)
 |-- topic_name: string (nullable = true)
 |-- group_id: integer (nullable = true)

                0  ...                        4
summary     count  ...                      max
topic_id    31212  ...                  1514434
topic_key   31212  ...  youth-outdoor-education
topic_name  31212  ...                    write
group_id    31212  ...                 26378470

[5 rows x 5 columns]

In [26]:
data_members.printSchema()
data_members.describe().toPandas().transpose()

root
 |-- member_id: integer (nullable = true)
 |-- bio: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- hometown: string (nullable = true)
 |-- joined: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- link: string (nullable = true)
 |-- lon: double (nullable = true)
 |-- member_name: string (nullable = true)
 |-- state: string (nullable = true)
 |-- member_status: string (nullable = true)
 |-- visited: string (nullable = true)
 |-- group_id: integer (nullable = true)

                    0  ...                                             4
summary         count  ...                                           max
member_id      134868  ...                                       3164984
bio            134863  ...  ~[masked]2011~WebbtraxRubymruby^^;; #startup
city           134868  ...                                 West New York
country        134868  ...                                            us
hometown       134849  ...                                         utica
joined         134867  ...                           2017-11-09 15:39:25
lat            134867  ...                                         42.01
link           134867  ...          http://www.meetup.com/members/999921
lon            134867  ...                                        -73.92
member_name    134864  ...                                      ~Seleee~
state          134867  ...                                            NY
member_status  134867  ...                                        active
visited        134867  ...                           2017-11-09 18:16:09
group_id       134867  ...                                      26378128

[15 rows x 5 columns]

In [27]:
data_topics.printSchema()
data_topics.describe().toPandas().transpose()

root
 |-- topic_id: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- link: string (nullable = true)
 |-- members: integer (nullable = true)
 |-- topic_name: string (nullable = true)
 |-- urlkey: string (nullable = true)
 |-- main_topic_id: integer (nullable = true)

                   0  ...                                  4
summary        count  ...                                max
topic_id        2509  ...                            1515654
description     2509  ...                          not_found
link            2509  ...  http://zumba-wellness.meetup.com/
members         2509  ...                           25318915
topic_name      2509  ...                              write
urlkey          2509  ...                     zumba-wellness
main_topic_id   2509  ...                              53052

[8 rows x 5 columns]

In [28]:
data_venues.printSchema()
data_venues.describe().toPandas().transpose()

root
 |-- venue_id: integer (nullable = true)
 |-- address_1: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- distance: double (nullable = true)
 |-- lat: double (nullable = true)
 |-- localized_country_name: string (nullable = true)
 |-- lon: double (nullable = true)
 |-- venue_name: string (nullable = true)
 |-- rating: double (nullable = true)
 |-- rating_count: double (nullable = true)
 |-- state: string (nullable = true)
 |-- zip: integer (nullable = true)
 |-- normalised_rating: double (nullable = true)

                             0  ...                         4
summary                  count  ...                       max
venue_id                107093  ...                  25594988
address_1               107091  ...          zoom 740-571-690
city                    107093  ...              west chicago
country                 107093  ...                        us
distance                107093  ...                       0.0
lat                     107093  ...                  64.25995
localized_country_name  107093  ...                       USA
lon                     107093  ...                170.969421
venue_name              107075  ...  {Q} Cloud Innovation Hub
rating                  107093  ...                       5.0
rating_count            107093  ...                    999.99
state                   107093  ...                 not_found
zip                     107093  ...                 941331022
normalised_rating       107093  ...                      4.91

[15 rows x 5 columns]

**Fourth part: pre-cleaning**

In [33]:
data_cities.show()

+-------------------+-------+-------+--------+---------+----------------------+-----------+------------+-------+-----+-----+
|               city|city_id|country|distance| latitude|localized_country_name|  longitude|member_count|ranking|state|  zip|
+-------------------+-------+-------+--------+---------+----------------------+-----------+------------+-------+-----+-----+
|      West New York|   7093|     us|2524.541|40.790001|                   USA| -74.010002|         661|     32|   NJ| 7093|
|           New York|  10001|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|
|     New York Mills|  13417|     us|2392.162|43.099998|                   USA| -75.290001|          22|    109|   NY|13417|
|       East Chicago|  46312|     us|1810.371|41.639999|                   USA| -87.459999|          31|     90|   IN|46312|
|     New York Mills|  56567|     us|1418.834|46.689999|                   USA| -95.349998|           5|      1|   MN|56567|
|      North Chicago|  60064|     us|1779.682|42.330002|                   USA| -87.860001|          45|     32|   IL|60064|
|       West Chicago|  60185|     us|1768.894|41.889999|                   USA| -88.199997|         214|     95|   IL|60185|
|    Chicago Heights|  60411|     us|1804.834|41.509998|                   USA| -87.610001|         141|    128|   IL|60411|
|      Chicago Ridge|  60415|     us|1793.115|41.700001|                   USA| -87.779999|          77|    178|   IL|60415|
|            Chicago|  60601|     us|1798.434|41.880001|                   USA| -87.620003|       90918|      0|   IL|60290|
|South San Francisco|  94080|     us|  25.883|37.650002|                   USA|    -122.43|         511|      0|   CA|94080|
|      San Francisco|  94101|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|
|       Chicago Park|  95712|     us| 133.891|    39.16|                   USA|-120.959999|           4|     32|   CA|95712|
+-------------------+-------+-------+--------+---------+----------------------+-----------+------------+-------+-----+-----+

In [34]:
print ((data_cities.count() , len (data_cities.columns)))
#Drop not performed

(13, 11)

In [35]:
#Events
print ((data_events.count() , len (data_events.columns)))

(5807, 48)

In [36]:
data_events.show()

+---------+-------------------+--------------------+--------+--------------------+-----------+----------+------------+---------------+---------+------------+-------------------+---------------+---------------+--------+---------------+--------------------+--------------------+-------------+---------+--------------------+----------------+--------------------+---------+--------------+------------+----------+------------+-------------------+-------------------+----------+--------------------+-----------------+-------------+-------------+--------+---------+----------------------------+-----------+--------------------+-----------+--------------+-----------+---------+----------+--------------+---------+--------------+
| event_id|            created|         description|duration|           event_url|fee.accepts|fee.amount|fee.currency|fee.description|fee.label|fee.required|      group.created|group.group_lat|group.group_lon|group_id|group.join_mode|          group.name|       group.urlname|    group.who|headcount|      how_to_find_us|maybe_rsvp_count|          event_name|photo_url|rating.average|rating.count|rsvp_limit|event_status|         event_time|            updated|utc_offset|     venue.address_1|  venue.address_2|   venue.city|venue.country|venue_id|venue.lat|venue.localized_country_name|  venue.lon|          venue.name|venue.phone|venue.repinned|venue.state|venue.zip|visibility|waitlist_count|      why|yes_rsvp_count|
+---------+-------------------+--------------------+--------+--------------------+-----------+----------+------------+---------------+---------+------------+-------------------+---------------+---------------+--------+---------------+--------------------+--------------------+-------------+---------+--------------------+----------------+--------------------+---------+--------------+------------+----------+------------+-------------------+-------------------+----------+--------------------+-----------------+-------------+-------------+--------+---------+----------------------------+-----------+--------------------+-----------+--------------+-----------+---------+----------+--------------+---------+--------------+
|153868222|2013-12-03 21:24:29|Solve the murder ...|   20700|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2012-11-12 21:29:23|      37.790001|    -122.419998| 5817262|           open|San Francisco Sta...|SanFranciscoStart...|      Members|        0|We will be meetin...|               0|Murder Mystery Di...|not_found|           0.0|          -1|        -1|    upcoming|2017-10-30 02:30:00|2017-10-23 03:26:49|    -25200|    505 Broadway St.|        not_found|San Francisco|           us|23729697| 37.79795|                         USA| -122.40569|     Little Szechuan|         -1|             1|         CA|       -1|    public|             0|not_found|            72|
|184167702|2014-05-20 18:52:00|NOTE: This event ...|   77400|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2010-04-07 21:26:22|          37.77|    -122.410004| 1627081|           open|        HR & Tech SF|      hr-and-tech-sf|      Members|        0|           not_found|               0|Friday Night Drin...|not_found|           0.0|          -1|        -1|    upcoming|2017-10-28 04:00:00|2017-10-21 06:10:49|    -25200|     498 Broadway St|        not_found|San Francisco|           us|16948982|37.798172|                         USA|-122.405457|      Horizon Lounge|         -1|             0|         CA|       -1|    public|             0|not_found|           179|
|215200502|2014-10-23 16:18:44|We'll be heading ...|   37800|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2010-04-07 21:26:22|          37.77|    -122.410004| 1627081|           open|        HR & Tech SF|      hr-and-tech-sf|      Members|        0|           not_found|               0|Dinner, Comedy, 1...|not_found|           0.0|          -1|        -1|    upcoming|2017-10-27 03:00:00|2017-10-20 03:48:29|    -25200|    631 broadway st.|        not_found|San Francisco|           us|24717469|37.797516|                         USA|-122.407394|taste of vietnam ...|         -1|             0|         CA|       -1|    public|             0|not_found|            45|
|220826782|2015-02-28 19:27:32|NOTE: This event ...|  113400|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2012-11-12 21:29:23|      37.790001|    -122.419998| 5817262|           open|San Francisco Sta...|SanFranciscoStart...|      Members|        0|           not_found|               0| Friday Night Drinks|not_found|           0.0|          -1|        -1|    upcoming|2017-10-28 04:00:00|2017-10-21 06:11:09|    -25200|        498 Broadway|        not_found|San Francisco|           us|  724783|37.798036|                         USA|-122.405442|             Horizon| 4155761118|             0|         CA|       -1|    public|             0|not_found|           198|
|227948102|2016-01-08 21:35:40|Aussie Aussie Aus...|   36000|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2010-04-07 21:26:22|          37.77|    -122.410004| 1627081|           open|        HR & Tech SF|      hr-and-tech-sf|      Members|        0|           not_found|               0|AUSTRALIA DAY PAR...|not_found|           0.0|          -1|        -1|    upcoming|2018-01-26 01:00:00|2017-01-26 07:40:31|    -28800|        490 Broadway|        not_found|San Francisco|           US|20984572| 37.79805|                         USA|-122.405251|Score! Bar and Lo...|         -1|             0|  not_found|       -1|    public|             0|not_found|            24|
|227967930|2016-01-09 20:41:06|Aussie Aussie Aus...|   36000|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2012-11-12 21:29:23|      37.790001|    -122.419998| 5817262|           open|San Francisco Sta...|SanFranciscoStart...|      Members|        0|           not_found|               0|AUSTRALIA DAY PAR...|not_found|           0.0|          -1|        -1|    upcoming|2018-01-26 01:00:00|2017-01-26 07:49:57|    -28800|     490 Broadway St|        not_found|San Francisco|           us|14982352|37.798084|                         USA|-122.405144|  Score Bar & Lounge|         -1|             0|         CA|       -1|    public|             0|not_found|            22|
|230034070|2016-04-01 01:20:15|We'll be heading ...|   37800|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2012-11-12 21:29:23|      37.790001|    -122.419998| 5817262|           open|San Francisco Sta...|SanFranciscoStart...|      Members|        0|           not_found|               0|Dinner, Comedy Sh...|not_found|           0.0|          -1|        -1|    upcoming|2017-10-27 03:00:00|2017-10-20 03:49:11|    -25200|    631 broadway st.|        not_found|San Francisco|           us|24717469|37.797516|                         USA|-122.407394|taste of vietnam ...|         -1|             0|         CA|       -1|    public|             0|not_found|            26|
|231934675|2016-06-16 10:09:51|NOTE: This event ...|   34200|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2010-04-07 21:26:22|          37.77|    -122.410004| 1627081|           open|        HR & Tech SF|      hr-and-tech-sf|      Members|        0|           not_found|               0|Drinks with Inter...|not_found|           0.0|          -1|        -1|    upcoming|2017-10-26 04:00:00|2017-10-19 06:05:11|    -25200|      1560 Powell St|        not_found|San Francisco|           US|17568982|37.799217|                         USA|-122.410538|      Northstar Cafe|         -1|             0|  not_found|       -1|    public|             0|not_found|            28|
|233755101|2016-08-31 02:39:33|She's baaaaaaack!...|   10800|https://www.meetu...|      wepay|      10.0|         USD|     per person|    price|           1|2009-03-23 00:02:21|      41.919998|     -87.699997| 1415286|           open|The Founding Moms...|        FoundingMoms|Founding Moms|        0|           not_found|               0|The Founding Moms...|not_found|           0.0|          -1|        -1|    upcoming|2017-11-14 16:00:00|2017-04-05 02:09:39|    -21600|2141 W. North Ave...|        not_found|      Chicago|           us|16276832|41.910385|                         USA| -87.681648|   Free Range Office|         -1|             0|         IL|       -1|    public|             0|not_found|             2|
|234227980|2016-09-18 23:44:15|In Virginia Woolf...|    5400|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2016-01-03 21:19:12|      37.759998|    -122.459999|19270969|           open|World Literature ...|World-Literature-...|      Readers|        0|Meeting takes pla...|               0|The Waves by Virg...|not_found|           0.0|          -1|        -1|    upcoming|2017-12-08 02:00:00|2017-10-18 17:49:51|    -28800|   100 Larkin Street|        not_found|San Francisco|           us|25559451|      0.0|                         USA|        0.0|San Francisco Pub...|         -1|             0|         CA|       -1|    public|             0|not_found|             3|
|236780948|2017-01-09 00:37:41|From Wikipedia: W...|    7200|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2007-06-11 01:59:29|      41.919998|     -87.650002|  523869|           open|Read the Classics...|           1001books| Book Readers|        0|           not_found|               0|Watt by Samuel Be...|not_found|           0.0|          -1|        -1|    upcoming|2017-11-12 21:00:00|2017-03-29 03:29:16|    -21600| 2442 N Clark Street|        not_found|      Chicago|           us| 1111215|41.926679|                         USA| -87.641359|         Galway Arms|         -1|             0|         IL|       -1|    public|             0|not_found|            11|
|236780962|2017-01-09 00:38:16|Under the Skin wa...|    7200|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2007-06-11 01:59:29|      41.919998|     -87.650002|  523869|           open|Read the Classics...|           1001books| Book Readers|        0|           not_found|               0|Under the Skin - ...|not_found|           0.0|          -1|        -1|    upcoming|2017-12-17 21:00:00|2017-10-07 19:59:14|    -21600| 2442 N Clark Street|        not_found|      Chicago|           us| 1111215|41.926679|                         USA| -87.641359|         Galway Arms|         -1|             0|         IL|       -1|    public|             0|not_found|            10|
|236927642|2017-01-14 20:51:19|Sketch in a subwa...|   10800|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2007-02-08 23:04:05|          40.73|     -73.989998|  424879|           open|Central Park Sket...|           sketching|      Members|        0|           not_found|               0|Sketch the 2nd Av...|not_found|           0.0|          -1|        -1|    upcoming|2017-11-11 16:00:00|2017-01-14 20:51:19|    -18000|86th st and 2nd a...|        not_found|     New York|           us|24990880|40.777889|                         USA|  -73.95179|86th st and 2nd a...|         -1|             0|         NY|       -1|    public|             0|not_found|            73|
|236956770|2017-01-16 04:24:26|From Goodreads:  ...|   10800|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2007-06-11 01:59:29|      41.919998|     -87.650002|  523869|           open|Read the Classics...|           1001books| Book Readers|        0|           not_found|               0|A Confederacy of ...|not_found|           0.0|          -1|        -1|    upcoming|2017-10-29 20:00:00|2017-03-29 03:21:03|    -18000| 2442 N Clark Street|        not_found|      Chicago|           us| 1111215|41.926679|                         USA| -87.641359|         Galway Arms|         -1|             0|         IL|       -1|    public|             0|not_found|            20|
|236956804|2017-01-16 04:28:46|From Goodreads: C...|   10800|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2007-06-11 01:59:29|      41.919998|     -87.650002|  523869|           open|Read the Classics...|           1001books| Book Readers|        0|           not_found|               0|The Underground R...|not_found|           0.0|          -1|        -1|    upcoming|2017-12-03 21:00:00|2017-01-16 04:28:46|    -21600| 2442 N Clark Street|        not_found|      Chicago|           us| 1111215|41.926679|                         USA| -87.641359|         Galway Arms|         -1|             0|         IL|       -1|    public|             0|not_found|            16|
|238267737|2017-03-08 16:15:48|Location & Agenda...|   10800|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2014-12-07 16:49:21|          40.75|     -73.980003|18238001|           open|Entrepreneurial A...|EntrepreneurialAc...|      Members|        0|           not_found|               0|Buying a Small Co...|not_found|           0.0|          -1|        -1|    upcoming|2017-12-06 23:30:00|2017-09-16 14:41:56|    -18000|58 E 34th St, New...|        not_found|     New York|           us|24256636|40.747162|                         USA| -73.982277|       The Long Hall|         -1|             0|         NY|       -1|    public|             0|not_found|            20|
|239961844|2017-05-13 18:20:06|From Wikipedia: T...|   10800|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2014-04-27 12:44:16|      40.759998|     -73.989998|14132062|           open|NYC Russian Novel...|      russian-novels|      Readers|        0|           not_found|               0|Read: The Foundat...|not_found|           0.0|          -1|        20|    upcoming|2017-10-30 23:00:00|2017-05-13 18:20:06|    -14400|       315 W 54th St|        not_found|     New York|           US|20454792|40.765285|                         USA| -73.985199|         Uncle Vanya|         -1|             0|  not_found|       -1|    public|             5|not_found|            20|
|239961885|2017-05-13 18:22:43|From Goodreads: A...|   10800|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2014-04-27 12:44:16|      40.759998|     -73.989998|14132062|           open|NYC Russian Novel...|      russian-novels|      Readers|        0|           not_found|               0|Read: The Big Gre...|not_found|           0.0|          -1|        20|    upcoming|2017-11-28 00:00:00|2017-05-13 18:22:43|    -18000|       315 W 54th St|        not_found|     New York|           US|20454792|40.765285|                         USA| -73.985199|         Uncle Vanya|         -1|             0|  not_found|       -1|    public|             1|not_found|            20|
|240004759|2017-05-15 16:45:03|Because our norma...|   10800|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2014-04-27 12:44:16|      40.759998|     -73.989998|14132062|           open|NYC Russian Novel...|      russian-novels|      Readers|        0|           not_found|               0|Read Haji Murad a...|not_found|           0.0|          -1|        20|    upcoming|2017-12-19 00:00:00|2017-05-15 17:02:07|    -18000|       315 W 54th St|        not_found|     New York|           US|20454792|40.765285|                         USA| -73.985199|         Uncle Vanya|         -1|             0|  not_found|       -1|    public|             5|not_found|            20|
|240507712|2017-06-03 16:14:50|The Amazing Adven...|   10800|https://www.meetu...|     others|       0.0|   not_found|     per person|    Price|           0|2010-01-03 18:43:38|      40.720001|     -73.980003| 1576459|           open|Bucket List Book ...|  BucketListBooksNYC|      Readers|        0|           not_found|               0|The Amazing Adven...|not_found|           0.0|          -1|        -1|    upcoming|2018-01-29 00:00:00|2017-10-14 14:51:01|    -18000|         140 2nd Ave|bet 8th / 9th Sts|     New York|           us|  725010| 40.72884|                         USA|  -73.98703|Ukrainian East Vi...| 2125295024|             0|         NY|       -1|    public|             0|not_found|            50|
+---------+-------------------+--------------------+--------+--------------------+-----------+----------+------------+---------------+---------+------------+-------------------+---------------+---------------+--------+---------------+--------------------+--------------------+-------------+---------+--------------------+----------------+--------------------+---------+--------------+------------+----------+------------+-------------------+-------------------+----------+--------------------+-----------------+-------------+-------------+--------+---------+----------------------------+-----------+--------------------+-----------+--------------+-----------+---------+----------+--------------+---------+--------------+
only showing top 20 rows

In [40]:
#Remove some columns
data_events = data_events.drop("event_url","photo_url" )

In [41]:
data_events.show()

+---------+-------------------+--------------------+--------+-----------+----------+------------+---------------+---------+------------+-------------------+---------------+---------------+--------+---------------+--------------------+--------------------+-------------+---------+--------------------+----------------+--------------------+--------------+------------+----------+------------+-------------------+-------------------+----------+--------------------+-----------------+-------------+-------------+--------+---------+----------------------------+-----------+--------------------+-----------+--------------+-----------+---------+----------+--------------+---------+--------------+
| event_id|            created|         description|duration|fee.accepts|fee.amount|fee.currency|fee.description|fee.label|fee.required|      group.created|group.group_lat|group.group_lon|group_id|group.join_mode|          group.name|       group.urlname|    group.who|headcount|      how_to_find_us|maybe_rsvp_count|          event_name|rating.average|rating.count|rsvp_limit|event_status|         event_time|            updated|utc_offset|     venue.address_1|  venue.address_2|   venue.city|venue.country|venue_id|venue.lat|venue.localized_country_name|  venue.lon|          venue.name|venue.phone|venue.repinned|venue.state|venue.zip|visibility|waitlist_count|      why|yes_rsvp_count|
+---------+-------------------+--------------------+--------+-----------+----------+------------+---------------+---------+------------+-------------------+---------------+---------------+--------+---------------+--------------------+--------------------+-------------+---------+--------------------+----------------+--------------------+--------------+------------+----------+------------+-------------------+-------------------+----------+--------------------+-----------------+-------------+-------------+--------+---------+----------------------------+-----------+--------------------+-----------+--------------+-----------+---------+----------+--------------+---------+--------------+
|153868222|2013-12-03 21:24:29|Solve the murder ...|   20700|     others|       0.0|   not_found|     per person|    Price|           0|2012-11-12 21:29:23|      37.790001|    -122.419998| 5817262|           open|San Francisco Sta...|SanFranciscoStart...|      Members|        0|We will be meetin...|               0|Murder Mystery Di...|           0.0|          -1|        -1|    upcoming|2017-10-30 02:30:00|2017-10-23 03:26:49|    -25200|    505 Broadway St.|        not_found|San Francisco|           us|23729697| 37.79795|                         USA| -122.40569|     Little Szechuan|         -1|             1|         CA|       -1|    public|             0|not_found|            72|
|184167702|2014-05-20 18:52:00|NOTE: This event ...|   77400|     others|       0.0|   not_found|     per person|    Price|           0|2010-04-07 21:26:22|          37.77|    -122.410004| 1627081|           open|        HR & Tech SF|      hr-and-tech-sf|      Members|        0|           not_found|               0|Friday Night Drin...|           0.0|          -1|        -1|    upcoming|2017-10-28 04:00:00|2017-10-21 06:10:49|    -25200|     498 Broadway St|        not_found|San Francisco|           us|16948982|37.798172|                         USA|-122.405457|      Horizon Lounge|         -1|             0|         CA|       -1|    public|             0|not_found|           179|
|215200502|2014-10-23 16:18:44|We'll be heading ...|   37800|     others|       0.0|   not_found|     per person|    Price|           0|2010-04-07 21:26:22|          37.77|    -122.410004| 1627081|           open|        HR & Tech SF|      hr-and-tech-sf|      Members|        0|           not_found|               0|Dinner, Comedy, 1...|           0.0|          -1|        -1|    upcoming|2017-10-27 03:00:00|2017-10-20 03:48:29|    -25200|    631 broadway st.|        not_found|San Francisco|           us|24717469|37.797516|                         USA|-122.407394|taste of vietnam ...|         -1|             0|         CA|       -1|    public|             0|not_found|            45|
|220826782|2015-02-28 19:27:32|NOTE: This event ...|  113400|     others|       0.0|   not_found|     per person|    Price|           0|2012-11-12 21:29:23|      37.790001|    -122.419998| 5817262|           open|San Francisco Sta...|SanFranciscoStart...|      Members|        0|           not_found|               0| Friday Night Drinks|           0.0|          -1|        -1|    upcoming|2017-10-28 04:00:00|2017-10-21 06:11:09|    -25200|        498 Broadway|        not_found|San Francisco|           us|  724783|37.798036|                         USA|-122.405442|             Horizon| 4155761118|             0|         CA|       -1|    public|             0|not_found|           198|
|227948102|2016-01-08 21:35:40|Aussie Aussie Aus...|   36000|     others|       0.0|   not_found|     per person|    Price|           0|2010-04-07 21:26:22|          37.77|    -122.410004| 1627081|           open|        HR & Tech SF|      hr-and-tech-sf|      Members|        0|           not_found|               0|AUSTRALIA DAY PAR...|           0.0|          -1|        -1|    upcoming|2018-01-26 01:00:00|2017-01-26 07:40:31|    -28800|        490 Broadway|        not_found|San Francisco|           US|20984572| 37.79805|                         USA|-122.405251|Score! Bar and Lo...|         -1|             0|  not_found|       -1|    public|             0|not_found|            24|
|227967930|2016-01-09 20:41:06|Aussie Aussie Aus...|   36000|     others|       0.0|   not_found|     per person|    Price|           0|2012-11-12 21:29:23|      37.790001|    -122.419998| 5817262|           open|San Francisco Sta...|SanFranciscoStart...|      Members|        0|           not_found|               0|AUSTRALIA DAY PAR...|           0.0|          -1|        -1|    upcoming|2018-01-26 01:00:00|2017-01-26 07:49:57|    -28800|     490 Broadway St|        not_found|San Francisco|           us|14982352|37.798084|                         USA|-122.405144|  Score Bar & Lounge|         -1|             0|         CA|       -1|    public|             0|not_found|            22|
|230034070|2016-04-01 01:20:15|We'll be heading ...|   37800|     others|       0.0|   not_found|     per person|    Price|           0|2012-11-12 21:29:23|      37.790001|    -122.419998| 5817262|           open|San Francisco Sta...|SanFranciscoStart...|      Members|        0|           not_found|               0|Dinner, Comedy Sh...|           0.0|          -1|        -1|    upcoming|2017-10-27 03:00:00|2017-10-20 03:49:11|    -25200|    631 broadway st.|        not_found|San Francisco|           us|24717469|37.797516|                         USA|-122.407394|taste of vietnam ...|         -1|             0|         CA|       -1|    public|             0|not_found|            26|
|231934675|2016-06-16 10:09:51|NOTE: This event ...|   34200|     others|       0.0|   not_found|     per person|    Price|           0|2010-04-07 21:26:22|          37.77|    -122.410004| 1627081|           open|        HR & Tech SF|      hr-and-tech-sf|      Members|        0|           not_found|               0|Drinks with Inter...|           0.0|          -1|        -1|    upcoming|2017-10-26 04:00:00|2017-10-19 06:05:11|    -25200|      1560 Powell St|        not_found|San Francisco|           US|17568982|37.799217|                         USA|-122.410538|      Northstar Cafe|         -1|             0|  not_found|       -1|    public|             0|not_found|            28|
|233755101|2016-08-31 02:39:33|She's baaaaaaack!...|   10800|      wepay|      10.0|         USD|     per person|    price|           1|2009-03-23 00:02:21|      41.919998|     -87.699997| 1415286|           open|The Founding Moms...|        FoundingMoms|Founding Moms|        0|           not_found|               0|The Founding Moms...|           0.0|          -1|        -1|    upcoming|2017-11-14 16:00:00|2017-04-05 02:09:39|    -21600|2141 W. North Ave...|        not_found|      Chicago|           us|16276832|41.910385|                         USA| -87.681648|   Free Range Office|         -1|             0|         IL|       -1|    public|             0|not_found|             2|
|234227980|2016-09-18 23:44:15|In Virginia Woolf...|    5400|     others|       0.0|   not_found|     per person|    Price|           0|2016-01-03 21:19:12|      37.759998|    -122.459999|19270969|           open|World Literature ...|World-Literature-...|      Readers|        0|Meeting takes pla...|               0|The Waves by Virg...|           0.0|          -1|        -1|    upcoming|2017-12-08 02:00:00|2017-10-18 17:49:51|    -28800|   100 Larkin Street|        not_found|San Francisco|           us|25559451|      0.0|                         USA|        0.0|San Francisco Pub...|         -1|             0|         CA|       -1|    public|             0|not_found|             3|
|236780948|2017-01-09 00:37:41|From Wikipedia: W...|    7200|     others|       0.0|   not_found|     per person|    Price|           0|2007-06-11 01:59:29|      41.919998|     -87.650002|  523869|           open|Read the Classics...|           1001books| Book Readers|        0|           not_found|               0|Watt by Samuel Be...|           0.0|          -1|        -1|    upcoming|2017-11-12 21:00:00|2017-03-29 03:29:16|    -21600| 2442 N Clark Street|        not_found|      Chicago|           us| 1111215|41.926679|                         USA| -87.641359|         Galway Arms|         -1|             0|         IL|       -1|    public|             0|not_found|            11|
|236780962|2017-01-09 00:38:16|Under the Skin wa...|    7200|     others|       0.0|   not_found|     per person|    Price|           0|2007-06-11 01:59:29|      41.919998|     -87.650002|  523869|           open|Read the Classics...|           1001books| Book Readers|        0|           not_found|               0|Under the Skin - ...|           0.0|          -1|        -1|    upcoming|2017-12-17 21:00:00|2017-10-07 19:59:14|    -21600| 2442 N Clark Street|        not_found|      Chicago|           us| 1111215|41.926679|                         USA| -87.641359|         Galway Arms|         -1|             0|         IL|       -1|    public|             0|not_found|            10|
|236927642|2017-01-14 20:51:19|Sketch in a subwa...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2007-02-08 23:04:05|          40.73|     -73.989998|  424879|           open|Central Park Sket...|           sketching|      Members|        0|           not_found|               0|Sketch the 2nd Av...|           0.0|          -1|        -1|    upcoming|2017-11-11 16:00:00|2017-01-14 20:51:19|    -18000|86th st and 2nd a...|        not_found|     New York|           us|24990880|40.777889|                         USA|  -73.95179|86th st and 2nd a...|         -1|             0|         NY|       -1|    public|             0|not_found|            73|
|236956770|2017-01-16 04:24:26|From Goodreads:  ...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2007-06-11 01:59:29|      41.919998|     -87.650002|  523869|           open|Read the Classics...|           1001books| Book Readers|        0|           not_found|               0|A Confederacy of ...|           0.0|          -1|        -1|    upcoming|2017-10-29 20:00:00|2017-03-29 03:21:03|    -18000| 2442 N Clark Street|        not_found|      Chicago|           us| 1111215|41.926679|                         USA| -87.641359|         Galway Arms|         -1|             0|         IL|       -1|    public|             0|not_found|            20|
|236956804|2017-01-16 04:28:46|From Goodreads: C...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2007-06-11 01:59:29|      41.919998|     -87.650002|  523869|           open|Read the Classics...|           1001books| Book Readers|        0|           not_found|               0|The Underground R...|           0.0|          -1|        -1|    upcoming|2017-12-03 21:00:00|2017-01-16 04:28:46|    -21600| 2442 N Clark Street|        not_found|      Chicago|           us| 1111215|41.926679|                         USA| -87.641359|         Galway Arms|         -1|             0|         IL|       -1|    public|             0|not_found|            16|
|238267737|2017-03-08 16:15:48|Location & Agenda...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2014-12-07 16:49:21|          40.75|     -73.980003|18238001|           open|Entrepreneurial A...|EntrepreneurialAc...|      Members|        0|           not_found|               0|Buying a Small Co...|           0.0|          -1|        -1|    upcoming|2017-12-06 23:30:00|2017-09-16 14:41:56|    -18000|58 E 34th St, New...|        not_found|     New York|           us|24256636|40.747162|                         USA| -73.982277|       The Long Hall|         -1|             0|         NY|       -1|    public|             0|not_found|            20|
|239961844|2017-05-13 18:20:06|From Wikipedia: T...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2014-04-27 12:44:16|      40.759998|     -73.989998|14132062|           open|NYC Russian Novel...|      russian-novels|      Readers|        0|           not_found|               0|Read: The Foundat...|           0.0|          -1|        20|    upcoming|2017-10-30 23:00:00|2017-05-13 18:20:06|    -14400|       315 W 54th St|        not_found|     New York|           US|20454792|40.765285|                         USA| -73.985199|         Uncle Vanya|         -1|             0|  not_found|       -1|    public|             5|not_found|            20|
|239961885|2017-05-13 18:22:43|From Goodreads: A...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2014-04-27 12:44:16|      40.759998|     -73.989998|14132062|           open|NYC Russian Novel...|      russian-novels|      Readers|        0|           not_found|               0|Read: The Big Gre...|           0.0|          -1|        20|    upcoming|2017-11-28 00:00:00|2017-05-13 18:22:43|    -18000|       315 W 54th St|        not_found|     New York|           US|20454792|40.765285|                         USA| -73.985199|         Uncle Vanya|         -1|             0|  not_found|       -1|    public|             1|not_found|            20|
|240004759|2017-05-15 16:45:03|Because our norma...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2014-04-27 12:44:16|      40.759998|     -73.989998|14132062|           open|NYC Russian Novel...|      russian-novels|      Readers|        0|           not_found|               0|Read Haji Murad a...|           0.0|          -1|        20|    upcoming|2017-12-19 00:00:00|2017-05-15 17:02:07|    -18000|       315 W 54th St|        not_found|     New York|           US|20454792|40.765285|                         USA| -73.985199|         Uncle Vanya|         -1|             0|  not_found|       -1|    public|             5|not_found|            20|
|240507712|2017-06-03 16:14:50|The Amazing Adven...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2010-01-03 18:43:38|      40.720001|     -73.980003| 1576459|           open|Bucket List Book ...|  BucketListBooksNYC|      Readers|        0|           not_found|               0|The Amazing Adven...|           0.0|          -1|        -1|    upcoming|2018-01-29 00:00:00|2017-10-14 14:51:01|    -18000|         140 2nd Ave|bet 8th / 9th Sts|     New York|           us|  725010| 40.72884|                         USA|  -73.98703|Ukrainian East Vi...| 2125295024|             0|         NY|       -1|    public|             0|not_found|            50|
+---------+-------------------+--------------------+--------+-----------+----------+------------+---------------+---------+------------+-------------------+---------------+---------------+--------+---------------+--------------------+--------------------+-------------+---------+--------------------+----------------+--------------------+--------------+------------+----------+------------+-------------------+-------------------+----------+--------------------+-----------------+-------------+-------------+--------+---------+----------------------------+-----------+--------------------+-----------+--------------+-----------+---------+----------+--------------+---------+--------------+
only showing top 20 rows

In [42]:
print ((data_events.count() , len (data_events.columns)))

(5807, 46)

In [43]:
#Groups
print ((data_groups.count() , len (data_groups.columns)))

(16330, 36)

In [44]:
data_groups.show()

+--------+-----------+--------------------+--------------------+-------+--------+-------+-------------------+--------------------+--------------------+------------------------+--------------------+----------------------+----------------------+----------------+---------+---------+--------------------+----------+-------+--------------------+-------------------+--------------------+------------------------+----------------------------+------------------------+--------------------------+--------------------------+--------------------+------+-----+----------+--------------------+----------+--------------+--------------------+
|group_id|category_id|       category.name|  category.shortname|city_id|    city|country|            created|         description|group_photo.base_url|group_photo.highres_link|group_photo.photo_id|group_photo.photo_link|group_photo.thumb_link|group_photo.type|join_mode|      lat|                link|       lon|members|          group_name|organizer.member_id|      organizer.name|organizer.photo.base_url|organizer.photo.highres_link|organizer.photo.photo_id|organizer.photo.photo_link|organizer.photo.thumb_link|organizer.photo.type|rating|state|  timezone|             urlname|utc_offset|    visibility|                 who|
+--------+-----------+--------------------+--------------------+-------+--------+-------+-------------------+--------------------+--------------------+------------------------+--------------------+----------------------+----------------------+----------------+---------+---------+--------------------+----------+-------+--------------------+-------------------+--------------------+------------------------+----------------------------+------------------------+--------------------------+--------------------------+--------------------+------+-----+----------+--------------------+----------+--------------+--------------------+
|    6388|         14|    health/wellbeing|    health-wellbeing|  10001|New York|     US|2002-11-21 16:50:46|Those who practic...|https://secure.me...|    https://secure.me...|            61087482|  https://secure.me...|  https://secure.me...|           event|     open|    40.75|https://www.meetu...|-73.989998|   1440|Alternative Healt...|            1513133|             Joel E.|    https://secure.me...|        https://secure.me...|                 3982960|      https://secure.me...|      https://secure.me...|              member|  4.39|   NY|US/Eastern|alternative-healt...|    -14400|        public| Explorers of Health|
|    6510|          4|community/environ...|community-environ...|  10001|New York|     US|2003-05-20 14:48:54|The New York Alte...|https://secure.me...|    https://secure.me...|           462764217|  https://secure.me...|  https://secure.me...|           event|     open|    40.75|https://www.meetu...|-73.989998|    969|Alternative Energ...|            3955940|      Yair Greenbaum|    https://secure.me...|        https://secure.me...|                 7966960|      https://secure.me...|      https://secure.me...|              member|  4.31|   NY|US/Eastern|alternative-energ...|    -14400|        public|Clean Energy Supp...|
|    8458|         26|        pets/animals|        pets-animals|  10001|New York|     US|2004-03-27 09:55:41|           not_found|https://secure.me...|    https://secure.me...|           431422360|  https://secure.me...|  https://secure.me...|           event|     open|    40.73|https://www.meetu...|-73.989998|   2930|   NYC Animal Rights|            1809940|              Santos|    https://secure.me...|        https://secure.me...|               259015234|      https://secure.me...|      https://secure.me...|              member|  4.84|   NY|US/Eastern|             Animals|    -14400|        public|       Animal Voices|
|    8940|         29|      sci-fi/fantasy|      sci-fi-fantasy|  10001|New York|     US|2002-11-16 04:49:16|Welcome to the Th...|https://secure.me...|    https://secure.me...|             2424355|  https://secure.me...|  https://secure.me...|           event|     open|    40.75|https://www.meetu...|-73.989998|   5080|The New York City...|            2548151|           Al Mejias|    https://secure.me...|        https://secure.me...|                 1920491|      https://secure.me...|      https://secure.me...|              member|  4.46|   NY|US/Eastern|           NYC-Anime|    -14400|        public|          Anime Fans|
|   10104|         26|        pets/animals|        pets-animals|  10001|New York|     US|2003-10-22 21:39:49|We welcome those ...|https://secure.me...|    https://secure.me...|            12940295|  https://secure.me...|  https://secure.me...|           event|     open|40.720001|https://www.meetu...|     -74.0|   2097|  NYC Pit Bull Group|            1929168|                 Amy|    https://secure.me...|        https://secure.me...|                 1659284|      https://secure.me...|      https://secure.me...|              member|  4.09|   NY|US/Eastern|         NYC-Pitbull|    -14400|public_limited|NYC Pits & People...|
|   10359|         16|language/ethnic i...|            language|  10001|New York|     US|2003-05-22 14:19:52|Hello!  Michael K...|https://secure.me...|    https://secure.me...|            21615822|  https://secure.me...|  https://secure.me...|           event| approval|40.759998|https://www.meetu...|-73.989998|   1171|NYC International...|            1766230|Michael Kim Jamal...|    https://secure.me...|        https://secure.me...|               242829900|      https://secure.me...|      https://secure.me...|              member|  4.58|   NY|US/Eastern|       NYCArabicClub|    -14400|public_limited|        Arabophiles!|
|   12111|         16|language/ethnic i...|            language|  10001|New York|     US|2002-10-08 17:22:28|NYC ASL is a soci...|https://secure.me...|    https://secure.me...|           464971104|  https://secure.me...|  https://secure.me...|           event|     open|    40.75|https://www.meetu...|-73.989998|    140|The New York City...|            1208717|             Timothy|    https://secure.me...|        https://secure.me...|                  561252|      https://secure.me...|      https://secure.me...|              member|  4.46|   NY|US/Eastern|              NYCASL|    -14400|public_limited|      NYC ASL Member|
|   12542|         22|new age/spirituality|new-age-spirituality|  10001|New York|     US|2002-10-08 17:22:23|Astrology is an a...|https://secure.me...|    https://secure.me...|            13585779|  https://secure.me...|  https://secure.me...|           event|     open|    40.75|https://www.meetu...|-73.989998|   1738|The New York City...|              93086|           Kirk Kahn|    https://secure.me...|                   not_found|                73436672|      https://secure.me...|      https://secure.me...|              member|  4.59|   NY|US/Eastern|       nyc-astrology|    -14400|        public|     Astrology Buffs|
|   12907|         28|    religion/beliefs|    religion-beliefs|  10001|New York|     US|2002-10-30 03:09:34|WEB: WWW.NYC-ATHE...|https://secure.me...|    https://secure.me...|            21771345|  https://secure.me...|  https://secure.me...|           event|     open|40.759998|https://www.meetu...|-73.970001|   2454|New York City Ath...|             187628|   KENNETH BRONSTEIN|    https://secure.me...|        https://secure.me...|                 5712872|      https://secure.me...|      https://secure.me...|              member|  4.63|   NY|US/Eastern|         atheists-24|    -14400|        public|            Atheists|
|   14573|         13|  movements/politics| government-politics|  10001|New York|     US|2003-04-14 17:20:41|           not_found|https://secure.me...|    https://secure.me...|              100233|  https://secure.me...|  https://secure.me...|           event|     open|    40.75|https://www.meetu...|-73.989998|    557|The New York City...|             696532|        Benny Pollak|    https://secure.me...|        https://secure.me...|                 3141227|      https://secure.me...|      https://secure.me...|              member|  4.56|   NY|US/Eastern|           aynrand-8|    -14400|        public|        Objectivists|
|   15217|         31|         socializing|         socializing|  10001|New York|     US|2003-02-05 02:32:46|This is a freewhe...|           not_found|               not_found|                  -1|             not_found|             not_found|          others|     open|40.740002|https://www.meetu...|-73.989998|    350|The New York City...|            2911816|             Deborah|    https://secure.me...|        https://secure.me...|                  811651|      https://secure.me...|      https://secure.me...|              member|  4.34|   NY|US/Eastern|TheGreatNYCBackga...|    -14400|public_limited|       Happy Rollers|
|   15324|         23|  outdoors/adventure|  outdoors-adventure|  60601| Chicago|     US|2003-10-22 21:39:49|Welcome to the Ch...|https://secure.me...|    https://secure.me...|           461261231|  https://secure.me...|  https://secure.me...|           event|     open|41.889999|https://www.meetu...|-87.629997|   1369|The Chicago Backp...|           10175045|             Mary R.|    https://secure.me...|        https://secure.me...|               267795659|      https://secure.me...|      https://secure.me...|              member|  4.79|   IL|US/Central| Chicago-Backpackers|    -18000|        public|         Backpackers|
|   16620|         26|        pets/animals|        pets-animals|  10001|New York|     US|2004-08-23 17:18:59|JOIN US for good ...|https://secure.me...|    https://secure.me...|           276373032|  https://secure.me...|  https://secure.me...|           event| approval|    40.73|https://www.meetu...|-74.010002|    231|New York City Bas...|           13231563|Rob & Stacie John...|    https://secure.me...|        https://secure.me...|               252916848|      https://secure.me...|      https://secure.me...|              member|  4.85|   NY|US/Eastern|         basenji-nyc|    -14400|        public|      Basenji Lovers|
|   17183|         31|         socializing|         socializing|  10001|New York|     US|2003-05-30 02:47:56|BBFP and Admirers...|https://secure.me...|    https://secure.me...|            10763886|  https://secure.me...|  https://secure.me...|           event| approval|    40.75|https://www.meetu...|-73.989998|     42|The NYC Big Beaut...|             999921|                 lyn|    https://secure.me...|        https://secure.me...|                 2892906|      https://secure.me...|      https://secure.me...|              member|  4.58|   NY|US/Eastern|             bbfp-68|    -14400|public_limited|BBFP & Those Who ...|
|   17921|         26|        pets/animals|        pets-animals|  10001|New York|     US|2002-12-23 16:48:09|The Beagle is an ...|https://secure.me...|    https://secure.me...|            46825091|  https://secure.me...|  https://secure.me...|           event|     open|    40.75|https://www.meetu...|-73.980003|    648|    The Beagle Pack!|            5365038|Jeffrey Altman (S...|    https://secure.me...|        https://secure.me...|                 9895486|      https://secure.me...|      https://secure.me...|              member|  4.73|   NY|US/Eastern|         beagle-pack|    -14400|        public|       Beagle Lovers|
|   18843|          5|             dancing|             dancing|  10001|New York|     US|2003-06-19 09:53:09|The NYC Bellydanc...|           not_found|               not_found|                  -1|             not_found|             not_found|          others|     open|40.759998|https://www.meetu...|-73.989998|    420|NYC Bellydance Me...|            5429250|             Tandava|    https://secure.me...|        https://secure.me...|                 2727067|      https://secure.me...|      https://secure.me...|              member|  4.71|   NY|US/Eastern|     NYCBellydancers|    -14400|        public|Bellydancers/Shim...|
|   20517|         33|             support|             support|  10001|New York|     US|2003-05-20 01:14:27|So lonely is the ...|https://secure.me...|    https://secure.me...|              858069|  https://secure.me...|  https://secure.me...|           event| approval|    40.75|https://www.meetu...|-73.989998|    550|The NYC Bipolar M...|           10550279|               Chris|    https://secure.me...|        https://secure.me...|                18804611|      https://secure.me...|      https://secure.me...|              member|  4.66|   NY|US/Eastern|          bipolar-10|    -14400|public_limited|      Merry Lunatics|
|   22211|         11|               games|               games|  60601| Chicago|     US|2003-04-17 19:31:25|The Chicagoland a...|https://secure.me...|    https://secure.me...|           432152102|  https://secure.me...|  https://secure.me...|           event|     open|41.889999|https://www.meetu...|-87.629997|   4146| Chicago Game Lovers|            9470872|          Jeff Engel|    https://secure.me...|        https://secure.me...|                 6517214|      https://secure.me...|      https://secure.me...|              member|  4.72|   IL|US/Central|        chicagogames|    -18000|        public|              Gamers|
|   22253|         11|               games|               games|  10001|New York|     US|2003-02-02 22:47:36|We are dedicated ...|https://secure.me...|    https://secure.me...|              298779|  https://secure.me...|  https://secure.me...|           event|     open|40.779999|https://www.meetu...|-73.980003|   6369|New York City Boa...|            1677076|      Steef Jacobson|    https://secure.me...|        https://secure.me...|               268534502|      https://secure.me...|      https://secure.me...|              member|  4.51|   NY|US/Eastern|      nyc-boardgames|    -14400|public_limited|              Gamers|
|   23713|         18|          book clubs|          book-clubs|  10001|New York|     US|2002-10-08 17:22:23|Come join our boo...|https://secure.me...|    https://secure.me...|             1618976|  https://secure.me...|  https://secure.me...|           event|     open|    40.75|https://www.meetu...|-73.989998|    347|The NYC Bookcross...|            3198499|               Hazel|    https://secure.me...|        https://secure.me...|                36382922|      https://secure.me...|      https://secure.me...|              member|  3.98|   NY|US/Eastern|     bookcrossing-30|    -14400|        public|        BookCrossers|
+--------+-----------+--------------------+--------------------+-------+--------+-------+-------------------+--------------------+--------------------+------------------------+--------------------+----------------------+----------------------+----------------+---------+---------+--------------------+----------+-------+--------------------+-------------------+--------------------+------------------------+----------------------------+------------------------+--------------------------+--------------------------+--------------------+------+-----+----------+--------------------+----------+--------------+--------------------+
only showing top 20 rows

In [45]:
data_groups= data_groups.drop ("group_photo.base_url","group_photo.highres_link","group_photo.photo_link","group_photo.thumb_link", "link","lon","organizer.photo.base_url","organizer.photo.highres_link","organizer.photo.photo_link","organizer.photo.thumb_link")

In [46]:
print ((data_groups.count() , len (data_groups.columns)))

(16330, 26)

In [47]:
data_groups.show()

+--------+-----------+--------------------+--------------------+-------+--------+-------+-------------------+--------------------+--------------------+----------------+---------+---------+-------+--------------------+-------------------+--------------------+------------------------+--------------------+------+-----+----------+--------------------+----------+--------------+--------------------+
|group_id|category_id|       category.name|  category.shortname|city_id|    city|country|            created|         description|group_photo.photo_id|group_photo.type|join_mode|      lat|members|          group_name|organizer.member_id|      organizer.name|organizer.photo.photo_id|organizer.photo.type|rating|state|  timezone|             urlname|utc_offset|    visibility|                 who|
+--------+-----------+--------------------+--------------------+-------+--------+-------+-------------------+--------------------+--------------------+----------------+---------+---------+-------+--------------------+-------------------+--------------------+------------------------+--------------------+------+-----+----------+--------------------+----------+--------------+--------------------+
|    6388|         14|    health/wellbeing|    health-wellbeing|  10001|New York|     US|2002-11-21 16:50:46|Those who practic...|            61087482|           event|     open|    40.75|   1440|Alternative Healt...|            1513133|             Joel E.|                 3982960|              member|  4.39|   NY|US/Eastern|alternative-healt...|    -14400|        public| Explorers of Health|
|    6510|          4|community/environ...|community-environ...|  10001|New York|     US|2003-05-20 14:48:54|The New York Alte...|           462764217|           event|     open|    40.75|    969|Alternative Energ...|            3955940|      Yair Greenbaum|                 7966960|              member|  4.31|   NY|US/Eastern|alternative-energ...|    -14400|        public|Clean Energy Supp...|
|    8458|         26|        pets/animals|        pets-animals|  10001|New York|     US|2004-03-27 09:55:41|           not_found|           431422360|           event|     open|    40.73|   2930|   NYC Animal Rights|            1809940|              Santos|               259015234|              member|  4.84|   NY|US/Eastern|             Animals|    -14400|        public|       Animal Voices|
|    8940|         29|      sci-fi/fantasy|      sci-fi-fantasy|  10001|New York|     US|2002-11-16 04:49:16|Welcome to the Th...|             2424355|           event|     open|    40.75|   5080|The New York City...|            2548151|           Al Mejias|                 1920491|              member|  4.46|   NY|US/Eastern|           NYC-Anime|    -14400|        public|          Anime Fans|
|   10104|         26|        pets/animals|        pets-animals|  10001|New York|     US|2003-10-22 21:39:49|We welcome those ...|            12940295|           event|     open|40.720001|   2097|  NYC Pit Bull Group|            1929168|                 Amy|                 1659284|              member|  4.09|   NY|US/Eastern|         NYC-Pitbull|    -14400|public_limited|NYC Pits & People...|
|   10359|         16|language/ethnic i...|            language|  10001|New York|     US|2003-05-22 14:19:52|Hello!  Michael K...|            21615822|           event| approval|40.759998|   1171|NYC International...|            1766230|Michael Kim Jamal...|               242829900|              member|  4.58|   NY|US/Eastern|       NYCArabicClub|    -14400|public_limited|        Arabophiles!|
|   12111|         16|language/ethnic i...|            language|  10001|New York|     US|2002-10-08 17:22:28|NYC ASL is a soci...|           464971104|           event|     open|    40.75|    140|The New York City...|            1208717|             Timothy|                  561252|              member|  4.46|   NY|US/Eastern|              NYCASL|    -14400|public_limited|      NYC ASL Member|
|   12542|         22|new age/spirituality|new-age-spirituality|  10001|New York|     US|2002-10-08 17:22:23|Astrology is an a...|            13585779|           event|     open|    40.75|   1738|The New York City...|              93086|           Kirk Kahn|                73436672|              member|  4.59|   NY|US/Eastern|       nyc-astrology|    -14400|        public|     Astrology Buffs|
|   12907|         28|    religion/beliefs|    religion-beliefs|  10001|New York|     US|2002-10-30 03:09:34|WEB: WWW.NYC-ATHE...|            21771345|           event|     open|40.759998|   2454|New York City Ath...|             187628|   KENNETH BRONSTEIN|                 5712872|              member|  4.63|   NY|US/Eastern|         atheists-24|    -14400|        public|            Atheists|
|   14573|         13|  movements/politics| government-politics|  10001|New York|     US|2003-04-14 17:20:41|           not_found|              100233|           event|     open|    40.75|    557|The New York City...|             696532|        Benny Pollak|                 3141227|              member|  4.56|   NY|US/Eastern|           aynrand-8|    -14400|        public|        Objectivists|
|   15217|         31|         socializing|         socializing|  10001|New York|     US|2003-02-05 02:32:46|This is a freewhe...|                  -1|          others|     open|40.740002|    350|The New York City...|            2911816|             Deborah|                  811651|              member|  4.34|   NY|US/Eastern|TheGreatNYCBackga...|    -14400|public_limited|       Happy Rollers|
|   15324|         23|  outdoors/adventure|  outdoors-adventure|  60601| Chicago|     US|2003-10-22 21:39:49|Welcome to the Ch...|           461261231|           event|     open|41.889999|   1369|The Chicago Backp...|           10175045|             Mary R.|               267795659|              member|  4.79|   IL|US/Central| Chicago-Backpackers|    -18000|        public|         Backpackers|
|   16620|         26|        pets/animals|        pets-animals|  10001|New York|     US|2004-08-23 17:18:59|JOIN US for good ...|           276373032|           event| approval|    40.73|    231|New York City Bas...|           13231563|Rob & Stacie John...|               252916848|              member|  4.85|   NY|US/Eastern|         basenji-nyc|    -14400|        public|      Basenji Lovers|
|   17183|         31|         socializing|         socializing|  10001|New York|     US|2003-05-30 02:47:56|BBFP and Admirers...|            10763886|           event| approval|    40.75|     42|The NYC Big Beaut...|             999921|                 lyn|                 2892906|              member|  4.58|   NY|US/Eastern|             bbfp-68|    -14400|public_limited|BBFP & Those Who ...|
|   17921|         26|        pets/animals|        pets-animals|  10001|New York|     US|2002-12-23 16:48:09|The Beagle is an ...|            46825091|           event|     open|    40.75|    648|    The Beagle Pack!|            5365038|Jeffrey Altman (S...|                 9895486|              member|  4.73|   NY|US/Eastern|         beagle-pack|    -14400|        public|       Beagle Lovers|
|   18843|          5|             dancing|             dancing|  10001|New York|     US|2003-06-19 09:53:09|The NYC Bellydanc...|                  -1|          others|     open|40.759998|    420|NYC Bellydance Me...|            5429250|             Tandava|                 2727067|              member|  4.71|   NY|US/Eastern|     NYCBellydancers|    -14400|        public|Bellydancers/Shim...|
|   20517|         33|             support|             support|  10001|New York|     US|2003-05-20 01:14:27|So lonely is the ...|              858069|           event| approval|    40.75|    550|The NYC Bipolar M...|           10550279|               Chris|                18804611|              member|  4.66|   NY|US/Eastern|          bipolar-10|    -14400|public_limited|      Merry Lunatics|
|   22211|         11|               games|               games|  60601| Chicago|     US|2003-04-17 19:31:25|The Chicagoland a...|           432152102|           event|     open|41.889999|   4146| Chicago Game Lovers|            9470872|          Jeff Engel|                 6517214|              member|  4.72|   IL|US/Central|        chicagogames|    -18000|        public|              Gamers|
|   22253|         11|               games|               games|  10001|New York|     US|2003-02-02 22:47:36|We are dedicated ...|              298779|           event|     open|40.779999|   6369|New York City Boa...|            1677076|      Steef Jacobson|               268534502|              member|  4.51|   NY|US/Eastern|      nyc-boardgames|    -14400|public_limited|              Gamers|
|   23713|         18|          book clubs|          book-clubs|  10001|New York|     US|2002-10-08 17:22:23|Come join our boo...|             1618976|           event|     open|    40.75|    347|The NYC Bookcross...|            3198499|               Hazel|                36382922|              member|  3.98|   NY|US/Eastern|     bookcrossing-30|    -14400|        public|        BookCrossers|
+--------+-----------+--------------------+--------------------+-------+--------+-------+-------------------+--------------------+--------------------+----------------+---------+---------+-------+--------------------+-------------------+--------------------+------------------------+--------------------+------+-----+----------+--------------------+----------+--------------+--------------------+
only showing top 20 rows

In [48]:
#groupsTopics
print ((data_groupsTopics.count() , len (data_groupsTopics.columns)))

(31212, 4)

In [49]:
data_groupsTopics.show()

+--------+----------+----------+--------+
|topic_id| topic_key|topic_name|group_id|
+--------+----------+----------+--------+
|      83|sportsfans|Sports Fan|  241031|
|      83|sportsfans|Sports Fan|  289172|
|      83|sportsfans|Sports Fan|  295444|
|      83|sportsfans|Sports Fan| 1040320|
|      83|sportsfans|Sports Fan| 1403055|
|      83|sportsfans|Sports Fan| 1426482|
|      83|sportsfans|Sports Fan| 1491757|
|      83|sportsfans|Sports Fan| 1492775|
|      83|sportsfans|Sports Fan| 1621920|
|      83|sportsfans|Sports Fan| 1683009|
|      83|sportsfans|Sports Fan| 1714061|
|      83|sportsfans|Sports Fan| 1733916|
|      83|sportsfans|Sports Fan| 3546292|
|      83|sportsfans|Sports Fan| 3680352|
|      83|sportsfans|Sports Fan| 3785922|
|      83|sportsfans|Sports Fan| 3884992|
|      83|sportsfans|Sports Fan| 4021122|
|      83|sportsfans|Sports Fan| 4274282|
|      83|sportsfans|Sports Fan| 4286742|
|      83|sportsfans|Sports Fan| 4316032|
+--------+----------+----------+--------+
only showing top 20 rows

In [50]:
#members
print ((data_members.count() , len (data_members.columns)))

(134868, 14)

In [51]:
data_members.show()

+---------+--------------------+--------+-------+------------+-------------------+-----+--------------------+-----+---------------+-----+-------------+-------------------+--------+
|member_id|                 bio|    city|country|    hometown|             joined|  lat|                link|  lon|    member_name|state|member_status|            visited|group_id|
+---------+--------------------+--------+-------+------------+-------------------+-----+--------------------+-----+---------------+-----+-------------+-------------------+--------+
|        3|           not_found|New York|     us|New York, NY|2007-05-01 22:04:37|40.72|http://www.meetup...|-74.0|    Matt Meeker|   NY|       active|2009-09-18 18:32:23|  490552|
|        3|           not_found|New York|     us|New York, NY|2011-01-23 14:13:17|40.72|http://www.meetup...|-74.0|    Matt Meeker|   NY|       active|2011-03-20 01:02:11| 1474611|
|        3|Hi, I'm Matt. I'm...|New York|     us|New York, NY|2010-12-30 18:47:34|40.72|http://www.meetup...|-74.0|    Matt Meeker|   NY|       active|2011-01-18 20:37:23| 1490492|
|        3|Hi, I'm Matt. I'm...|New York|     us|New York, NY|2011-01-03 14:45:21|40.72|http://www.meetup...|-74.0|    Matt Meeker|   NY|       active|2011-07-23 03:42:28| 1515830|
|        3|Hi, I'm Matt. I'm...|New York|     us|New York, NY|2010-12-30 18:34:50|40.72|http://www.meetup...|-74.0|    Matt Meeker|   NY|       active|2011-06-13 18:33:23| 1574965|
|        3|Hi, I'm Matt. I'm...|New York|     us|New York, NY|2011-01-26 19:37:57|40.72|http://www.meetup...|-74.0|    Matt Meeker|   NY|       active|2012-02-09 20:42:38| 1669000|
|        3|Hi, I'm Matt.  I'...|New York|     us|New York, NY|2010-12-30 01:37:39|40.72|http://www.meetup...|-74.0|    Matt Meeker|   NY|       active|2011-01-08 18:02:35| 1751326|
|        3|           not_found|New York|     us|New York, NY|2012-06-14 15:38:11|40.72|http://www.meetup...|-74.0|    Matt Meeker|   NY|       active|2012-06-14 15:14:17| 1753252|
|        3|Hi, I'm Matt. I'm...|New York|     us|New York, NY|2011-01-10 19:49:53|40.72|http://www.meetup...|-74.0|    Matt Meeker|   NY|       active|2011-01-10 19:49:53| 1761388|
|        3|I'm co-founder of...|New York|     us|New York, NY|2014-03-04 19:51:52|40.72|http://www.meetup...|-74.0|    Matt Meeker|   NY|       active|2014-03-05 16:12:42|12967842|
|        6| Community organizer|New York|     us|   not_found|2013-09-11 00:42:06|40.73|http://www.meetup...|-74.0|Scott Heiferman|   NY|       active|2014-09-20 12:28:38|  113455|
|        6|Hi, I'm the Organ...|New York|     us|   not_found|2006-03-08 16:33:41|40.73|http://www.meetup...|-74.0|Scott Heiferman|   NY|       active|2013-12-04 15:21:59|  225219|
|        6|           not_found|New York|     us|   not_found|2010-03-29 22:08:42|40.73|http://www.meetup...|-74.0|Scott Heiferman|   NY|       active|2016-11-07 20:07:34|  306773|
|        6|           not_found|New York|     us|   not_found|2009-11-05 19:30:08|40.73|http://www.meetup...|-74.0|Scott Heiferman|   NY|       active|2015-05-04 22:27:22|  366067|
|        6|           not_found|New York|     us|   not_found|2012-12-30 19:52:02|40.73|http://www.meetup...|-74.0|Scott Heiferman|   NY|       active|2017-03-11 18:14:10|  431480|
|        6|i love the music ...|New York|     us|   not_found|2013-04-23 19:38:23|40.73|http://www.meetup...|-74.0|Scott Heiferman|   NY|       active|2016-09-12 20:56:35|  976696|
|        6|           not_found|New York|     us|   not_found|2012-04-12 14:35:15|40.73|http://www.meetup...|-74.0|Scott Heiferman|   NY|       active|2016-04-19 22:17:13| 1183598|
|        6|I help people meetup|New York|     us|   not_found|2013-01-16 02:44:38|40.73|http://www.meetup...|-74.0|Scott Heiferman|   NY|       active|2016-07-20 18:35:09| 1282709|
|        6|           not_found|New York|     us|   not_found|2014-10-16 00:30:36|40.73|http://www.meetup...|-74.0|Scott Heiferman|   NY|       active|2015-01-04 16:42:42| 1290254|
|        6|Dad of Lila Jane,...|New York|     us|   not_found|2011-02-21 19:04:26|40.73|http://www.meetup...|-74.0|Scott Heiferman|   NY|       active|2017-03-16 20:39:20| 1327312|
+---------+--------------------+--------+-------+------------+-------------------+-----+--------------------+-----+---------------+-----+-------------+-------------------+--------+
only showing top 20 rows

In [52]:
 data_members= data_members.drop ("link","lon")

In [53]:
data_members.show()

+---------+--------------------+--------+-------+------------+-------------------+-----+---------------+-----+-------------+-------------------+--------+
|member_id|                 bio|    city|country|    hometown|             joined|  lat|    member_name|state|member_status|            visited|group_id|
+---------+--------------------+--------+-------+------------+-------------------+-----+---------------+-----+-------------+-------------------+--------+
|        3|           not_found|New York|     us|New York, NY|2007-05-01 22:04:37|40.72|    Matt Meeker|   NY|       active|2009-09-18 18:32:23|  490552|
|        3|           not_found|New York|     us|New York, NY|2011-01-23 14:13:17|40.72|    Matt Meeker|   NY|       active|2011-03-20 01:02:11| 1474611|
|        3|Hi, I'm Matt. I'm...|New York|     us|New York, NY|2010-12-30 18:47:34|40.72|    Matt Meeker|   NY|       active|2011-01-18 20:37:23| 1490492|
|        3|Hi, I'm Matt. I'm...|New York|     us|New York, NY|2011-01-03 14:45:21|40.72|    Matt Meeker|   NY|       active|2011-07-23 03:42:28| 1515830|
|        3|Hi, I'm Matt. I'm...|New York|     us|New York, NY|2010-12-30 18:34:50|40.72|    Matt Meeker|   NY|       active|2011-06-13 18:33:23| 1574965|
|        3|Hi, I'm Matt. I'm...|New York|     us|New York, NY|2011-01-26 19:37:57|40.72|    Matt Meeker|   NY|       active|2012-02-09 20:42:38| 1669000|
|        3|Hi, I'm Matt.  I'...|New York|     us|New York, NY|2010-12-30 01:37:39|40.72|    Matt Meeker|   NY|       active|2011-01-08 18:02:35| 1751326|
|        3|           not_found|New York|     us|New York, NY|2012-06-14 15:38:11|40.72|    Matt Meeker|   NY|       active|2012-06-14 15:14:17| 1753252|
|        3|Hi, I'm Matt. I'm...|New York|     us|New York, NY|2011-01-10 19:49:53|40.72|    Matt Meeker|   NY|       active|2011-01-10 19:49:53| 1761388|
|        3|I'm co-founder of...|New York|     us|New York, NY|2014-03-04 19:51:52|40.72|    Matt Meeker|   NY|       active|2014-03-05 16:12:42|12967842|
|        6| Community organizer|New York|     us|   not_found|2013-09-11 00:42:06|40.73|Scott Heiferman|   NY|       active|2014-09-20 12:28:38|  113455|
|        6|Hi, I'm the Organ...|New York|     us|   not_found|2006-03-08 16:33:41|40.73|Scott Heiferman|   NY|       active|2013-12-04 15:21:59|  225219|
|        6|           not_found|New York|     us|   not_found|2010-03-29 22:08:42|40.73|Scott Heiferman|   NY|       active|2016-11-07 20:07:34|  306773|
|        6|           not_found|New York|     us|   not_found|2009-11-05 19:30:08|40.73|Scott Heiferman|   NY|       active|2015-05-04 22:27:22|  366067|
|        6|           not_found|New York|     us|   not_found|2012-12-30 19:52:02|40.73|Scott Heiferman|   NY|       active|2017-03-11 18:14:10|  431480|
|        6|i love the music ...|New York|     us|   not_found|2013-04-23 19:38:23|40.73|Scott Heiferman|   NY|       active|2016-09-12 20:56:35|  976696|
|        6|           not_found|New York|     us|   not_found|2012-04-12 14:35:15|40.73|Scott Heiferman|   NY|       active|2016-04-19 22:17:13| 1183598|
|        6|I help people meetup|New York|     us|   not_found|2013-01-16 02:44:38|40.73|Scott Heiferman|   NY|       active|2016-07-20 18:35:09| 1282709|
|        6|           not_found|New York|     us|   not_found|2014-10-16 00:30:36|40.73|Scott Heiferman|   NY|       active|2015-01-04 16:42:42| 1290254|
|        6|Dad of Lila Jane,...|New York|     us|   not_found|2011-02-21 19:04:26|40.73|Scott Heiferman|   NY|       active|2017-03-16 20:39:20| 1327312|
+---------+--------------------+--------+-------+------------+-------------------+-----+---------------+-----+-------------+-------------------+--------+
only showing top 20 rows

In [54]:
print ((data_members.count() , len (data_members.columns)))

(134868, 12)

In [55]:
#topics
print ((data_topics.count() , len (data_topics.columns)))

(2509, 7)

In [56]:
data_topics.show()

+--------+--------------------+--------------------+-------+--------------------+----------+-------------+
|topic_id|         description|                link|members|          topic_name|    urlkey|main_topic_id|
+--------+--------------------+--------------------+-------+--------------------+----------+-------------+
|      83|Meet with others ...|http://sportsfans...| 471594|          Sports Fan|sportsfans|        10451|
|     130|Meet with Latin M...|http://latinmusic...| 759757|         Latin Music|latinmusic|        15018|
|     182|Want to practice ...|http://esl.meetup...|3176752|English as a Seco...|       esl|        10454|
|     183|Meet local Spanis...|http://spanish.me...|1618673|    Spanish Language|   spanish|        10454|
|     184|Meet and mingle w...|http://italian.me...| 465231|    Italian Language|   italian|        10454|
|     185|Meet local French...|http://french.mee...|1409448|     French Language|    french|        10454|
|     206|Meet other local ...|http://digcam.mee...|2054003| Digital Photography|    digcam|          223|
|     223|Meet fellow shutt...|http://photo.meet...|3277025|         Photography|     photo|          223|
|     225|Meet other local ...|http://ceramic.me...|  31895|        Ceramic Arts|   ceramic|         1502|
|     387|Meet other theate...|http://theaterind...|  85226|    Theater Industry|theaterind|         1924|
|     496|Meet with local p...|http://gamedev.me...| 455404|    Game Development|   gamedev|        15992|
|     505|Meet others in yo...|http://aussie.mee...|  30913|  Australian Culture|    aussie|        10454|
|     594|Meet other local ...|http://digitalart...| 154045|         Digital Art|digitalart|         1502|
|     611|Meet fellow Wine ...|http://wine.meetu...|4514816|                Wine|      wine|        19227|
|     644|Meet and mingle w...|http://german.mee...| 588791|     German Language|    german|        10454|
|     681|Meet others in yo...|http://martial.me...| 213559|        Martial Arts|   martial|         1502|
|     702|Meet other local ...|http://industrial...|   6085|          Industrial|industrial|         1924|
|     708|Join with the wit...|http://foundart.m...|   1156|           Found Art|  foundart|         1502|
|     728|Meet other enthus...|http://ddr.meetup...|   5736|Dance Dance Revol...|       ddr|          491|
|     763|Meet other local ...|http://sportbikes...| 140140|         Sport Bikes|sportbikes|        10451|
+--------+--------------------+--------------------+-------+--------------------+----------+-------------+
only showing top 20 rows

In [57]:
data_topics=data_topics.drop("link",)

In [59]:
print ((data_topics.count() , len (data_topics.columns)))
data_topics.show()

(2509, 6)
+--------+--------------------+-------+--------------------+----------+-------------+
|topic_id|         description|members|          topic_name|    urlkey|main_topic_id|
+--------+--------------------+-------+--------------------+----------+-------------+
|      83|Meet with others ...| 471594|          Sports Fan|sportsfans|        10451|
|     130|Meet with Latin M...| 759757|         Latin Music|latinmusic|        15018|
|     182|Want to practice ...|3176752|English as a Seco...|       esl|        10454|
|     183|Meet local Spanis...|1618673|    Spanish Language|   spanish|        10454|
|     184|Meet and mingle w...| 465231|    Italian Language|   italian|        10454|
|     185|Meet local French...|1409448|     French Language|    french|        10454|
|     206|Meet other local ...|2054003| Digital Photography|    digcam|          223|
|     223|Meet fellow shutt...|3277025|         Photography|     photo|          223|
|     225|Meet other local ...|  31895|        Ceramic Arts|   ceramic|         1502|
|     387|Meet other theate...|  85226|    Theater Industry|theaterind|         1924|
|     496|Meet with local p...| 455404|    Game Development|   gamedev|        15992|
|     505|Meet others in yo...|  30913|  Australian Culture|    aussie|        10454|
|     594|Meet other local ...| 154045|         Digital Art|digitalart|         1502|
|     611|Meet fellow Wine ...|4514816|                Wine|      wine|        19227|
|     644|Meet and mingle w...| 588791|     German Language|    german|        10454|
|     681|Meet others in yo...| 213559|        Martial Arts|   martial|         1502|
|     702|Meet other local ...|   6085|          Industrial|industrial|         1924|
|     708|Join with the wit...|   1156|           Found Art|  foundart|         1502|
|     728|Meet other enthus...|   5736|Dance Dance Revol...|       ddr|          491|
|     763|Meet other local ...| 140140|         Sport Bikes|sportbikes|        10451|
+--------+--------------------+-------+--------------------+----------+-------------+
only showing top 20 rows

In [60]:
#venues
print ((data_venues.count() , len (data_venues.columns)))

(107093, 14)

In [61]:
data_venues.show()
#Drop not performed

+--------+--------------------+--------+-------+--------+---------+----------------------+----------+--------------------+------+------------+-----+-----+-----------------+
|venue_id|           address_1|    city|country|distance|      lat|localized_country_name|       lon|          venue_name|rating|rating_count|state|  zip|normalised_rating|
+--------+--------------------+--------+-------+--------+---------+----------------------+----------+--------------------+------+------------+-----+-----+-----------------+
|    5286|      424 Park Ave S|New York|     us|     0.0|40.744259|                   USA|-73.983749|    Starbucks Coffee|   4.0|        51.0|   NY|10016|             3.92|
|    5293|        Union Square|New York|     us|     0.0| 40.73139|                   USA|  -73.9884|Virgin Megastore ...|  2.83|       109.0|   NY|10003|              2.8|
|    8356|   141 West 72nd St.|New York|     us|     0.0|40.778275|                   USA|-73.980095|Krispy Kreme Doug...|  2.11|        18.0|   NY|10028|              2.0|
|   11898| 7000 North Glenwood| Chicago|     us|     0.0|42.009998|                   USA|-87.669998|      Heartland Cafe|   3.8|       275.0|   IL|60626|             3.79|
|   12152| Madison Square Park|New York|     us|     0.0|40.703957|                   USA|-73.904144|Friend of James D...|  3.87|        60.0|   NY|10159|             3.81|
|   14522|       2252 Broadway|New York|     us|     0.0|40.785015|                   USA|-73.978973|    Starbucks Coffee|   3.0|        24.0|   NY|10024|             2.88|
|   16753|        105 1st Ave.|New York|     us|     0.0|40.726833|                   USA|-73.986336|Counter Vegetaria...|  4.15|        47.0|   NY|10003|             4.06|
|   17239|118 Rivington Street|New York|     us|     0.0|40.719864|                   USA|-73.987251|        The Magician|  4.22|        72.0|   NY|10002|             4.16|
|   17889|         24 Pell St.|New York|     us|     0.0|40.715019|                   USA|-73.998154| World of Vegetarian|  4.08|        26.0|   NY|10013|             3.93|
|   18034| 1767 W. Wilson Ave.| Chicago|     us|     0.0|41.970001|                   USA|-87.699997|         Zephyr Cafe|  4.29|        17.0|   IL|60625|             4.05|
|   19711|  2311 W. North Ave.| Chicago|     us|     0.0|41.910152|                   USA|-87.685181|           Handlebar|  4.11|        27.0|   IL|60647|             3.96|
|   19729|       2186 Broadway|New York|     us|     0.0|40.782694|                   USA|-73.980461|                Cosi|  4.27|       353.0|   NY|10024|             4.26|
|   22137|3109 W. Irving Pa...| Chicago|     us|     0.0|41.953857|                   USA| -87.70589|Dharma Garden Tha...|  4.34|       106.0|   IL|60618|              4.3|
|   23118|         30 Mott St.|New York|     us|     0.0| 40.71471|                   USA| -73.99855|     Silk Road Mocha|  4.24|        93.0|   NY|10013|             4.19|
|   23199|       101 E. 2nd St|New York|     us|     0.0|40.723694|                   USA|-73.987457|Waikiki Wally's (...|  3.62|       170.0|   NY|10009|              3.6|
|   24541|        54 Cooper Sq|New York|     us|     0.0| 40.72886|                   USA|   -73.991|web2zone (Interne...|  3.48|        99.0|   NY|10003|             3.45|
|   25359|958 West Armitage...| Chicago|     us|     0.0|41.918373|                   USA|-87.653206|            Argo Tea|  4.07|        15.0|   IL|60614|             3.82|
|   25757|       626 10th Ave.|New York|     us|     0.0|40.761295|                   USA|-73.994247|        Hallo Berlin|  4.03|       214.0|   NY|10036|             4.01|
|   26739|18 West 18 St.  6...|New York|     us|     0.0|  40.7429|                   USA|-73.992775|      CAP 21 Studios|  4.29|       113.0|   NY|10011|             4.25|
|   27542|165 West 72nd Street|New York|     us|     0.0|40.778576|                   USA|-73.980919|Kinoko Japanese R...|   4.0|         9.0|   NY|10023|              3.6|
+--------+--------------------+--------+-------+--------+---------+----------------------+----------+--------------------+------+------------+-----+-----+-----------------+
only showing top 20 rows

**Fith part: Join method**

In [89]:
def join(df1, df2, cond, how='left'):
    df = df1.join(df2, cond, how=how)
    repeated_columns = [c for c in df1.columns if c in df2.columns]
    for col in repeated_columns:
        df = df.drop(df2[col])
    return df

In [101]:
DF1=join(data_cities, data_groups,cond= ['city_id'],how = 'left')

In [102]:
DF1.show()

+-------+--------------+-------+--------+---------+----------------------+-----------+------------+-------+-----+-----+--------+-----------+--------------------+------------------+-------------------+--------------------+--------------------+----------------+---------+---------+-------+--------------------+-------------------+--------------------+------------------------+--------------------+------+----------+--------------------+----------+--------------+--------------------+
|city_id|          city|country|distance| latitude|localized_country_name|  longitude|member_count|ranking|state|  zip|group_id|category_id|       category.name|category.shortname|            created|         description|group_photo.photo_id|group_photo.type|join_mode|      lat|members|          group_name|organizer.member_id|      organizer.name|organizer.photo.photo_id|organizer.photo.type|rating|  timezone|             urlname|utc_offset|    visibility|                 who|
+-------+--------------+-------+--------+---------+----------------------+-----------+------------+-------+-----+-----+--------+-----------+--------------------+------------------+-------------------+--------------------+--------------------+----------------+---------+---------+-------+--------------------+-------------------+--------------------+------------------------+--------------------+------+----------+--------------------+----------+--------------+--------------------+
|  56567|New York Mills|     us|1418.834|46.689999|                   USA| -95.349998|           5|      1|   MN|56567|    null|       null|                null|              null|               null|                null|                null|            null|     null|     null|   null|                null|               null|                null|                    null|                null|  null|      null|                null|      null|          null|                null|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|   26434|         16|language/ethnic i...|          language|2002-11-20 00:19:28|Are you formerly ...|            10681504|           event|     open|37.720001|   1956|The San Francisco...|          190366273|     Mind The Bridge|               257459385|              member|  4.48|US/Pacific|             brit-92|    -25200|        public|Expat British and...|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|   33172|         16|language/ethnic i...|          language|2002-10-10 20:13:14|This is a place f...|           445606866|           event|     open|37.790001|   2123|Bay Area Chinese ...|           93184502|                 Ben|               250831132|              member|  4.73|US/Pacific|            mandarin|    -25200|        public|Chinese Culture L...|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|   54356|         26|        pets/animals|      pets-animals|2003-02-19 19:26:55|Our Bulldog Meetu...|           111925292|           event|     open|    37.77|   2397|The San Francisco...|            3138653|               lehua|                 3609497|              member|  4.52|US/Pacific|          sfbulldogs|    -25200|        public|      SF Bulldoggers|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|   54659|          2|     career/business|   career-business|2002-11-01 19:02:33|San Francisco & S...|                  -1|          others|     open|37.779999|   3648| Entrepreneurs & VCs|          126222492|             Maureen|               255903027|              member|  3.97|US/Pacific|sanfrancisco-entr...|    -25200|        public|Entrepreneurs and...|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|   62769|          3|    cars/motorcycles|  cars-motorcycles|2003-10-22 21:39:49|Welcome to the gr...|            19418227|           event|     open|37.779999|    867|The San Francisco...|          184888684|       Peter Habicht|               267578833|              member|  4.57|US/Pacific|         formula1-10|    -25200|        public|      Formula 1 Fans|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|   63891|         16|language/ethnic i...|          language|2003-01-11 22:35:56|Les Amis(es) Fran...|           398404112|           event|     open|37.779999|   3621|LES AMI(E)S FRANC...|             810537|              Rachel|                 9815019|              member|  4.49|US/Pacific|    francophonesdeSF|    -25200|        public|        Francophones|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|   65802|          2|     career/business|   career-business|2002-10-08 17:22:21|This is a group f...|           446949223|           event| approval|37.779999|   3980|San Franciso Game...|             569876|         Casey Holtz|               207788292|              member|  4.42|US/Pacific|    sfgamedevelopers|    -25200|        public|Video Game Develo...|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|   67805|         16|language/ethnic i...|          language|2002-11-29 06:23:16|Amiable group who...|             3951532|           event|     open|    37.75|   3375|SF German Stammtisch|            3672645|        Johanna Fogl|                 1397977|              member|  4.68|US/Pacific|           german-56|    -25200|public_limited|     German Speakers|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|   81368|          2|     career/business|   career-business|2003-08-27 21:12:35|Investors and tra...|           435372542|           event|     open|37.779999|   1832|The San Francisco...|           34068522|Investor's Busine...|                37720332|              member|  4.53|US/Pacific|              ibd-95|    -25200|public_limited|           Investors|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|   85450|         16|language/ethnic i...|          language|2003-01-02 19:59:22|Benvenuti, Italia...|            87090982|           event|     open|37.779999|   1813|The San Francisco...|            3136421|               Kelly|                41140982|              member|  4.52|US/Pacific|San-Francisco-Ita...|    -25200|public_limited|          Cari amici|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|   90517|         21|               music|             music|2004-07-25 17:54:55|The San Francisco...|               54042|           event|     open|37.759998|   1031|SFBA Karaoke Meet...|             159390|Steve DJ Purple H...|               101942232|              member|  4.76|US/Pacific|          karaoke-88|    -25200|        public|     Karaoke Singers|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|  107604|         34|                tech|              tech|2004-03-16 09:45:19|A forum for users...|             2933821|           event|     open|37.790001|   2414|     #SFMySQL Meetup|            2267793|       Mike Tougeron|                44748682|              member|  4.39|US/Pacific|            sf-mysql|    -25200|        public|         MySQL Users|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|  120903|         34|                tech|              tech|2002-10-08 17:22:20|The SF PHP Commun...|           432119478|           event|     open|    37.77|   2639|    SF PHP Community|          126468982|      Andre Marigold|               267959392|              member|  4.37|US/Pacific|              sf-php|    -25200|        public|      PHP Developers|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|  134063|         34|                tech|              tech|2003-10-28 18:22:32|Learning and meet...|            69652312|           event|     open|37.790001|   6058|The San Francisco...|            2368765|            Bosco So|               244829165|              member|   4.6|US/Pacific|              sfruby|    -25200|        public|    Ruby enthusiasts|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|  141141|         26|        pets/animals|      pets-animals|2003-04-07 00:44:08|Hello and welcome...|            21037443|           event|     open|37.779999|    716|The San Francisco...|             357792|               Misha|                   96220|              member|  4.77|US/Pacific|San-Francisco-Shi...|    -25200|        public|Shih Tzu Owners &...|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|  145990|         16|language/ethnic i...|          language|2002-10-08 17:22:28|Hola!  We are a g...|            76397382|           event|     open|37.790001|   5322|San Francisco Spa...|             810537|              Rachel|                 9815019|              member|  4.47|US/Pacific|Spanish-Language-...|    -25200|        public|    Spanish Speakers|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|  157085|         31|         socializing|       socializing|2003-03-20 08:05:39|Love to travel? L...|           462167144|           event|     open|37.790001|   2566|   SF Travel Addicts|          132277952|           Rebecca M|               256247057|              member|  4.55|US/Pacific|   SF-Travel-Addicts|    -25200|        public|      Travel Addicts|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|  170014|         26|        pets/animals|      pets-animals|2003-04-03 21:59:34|Hi Fellow Yorkie ...|             6579325|           event|     open|37.799999|    883|San Francisco Yor...|            2153979|Rodi (In memory o...|                  636881|              member|  4.74|US/Pacific|      sfyorkiemeetup|    -25200|        public|       Yorkie Lovers|
|  94101| San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|  179249|         31|         socializing|       socializing|2004-10-13 01:23:09|Are you new to Sa...|             3413737|           event|     open|37.799999|   4610|SOCIAL SAN FRANCISCO|           11599890|               Steve|                 9089585|              member|  4.72|US/Pacific|Social-Events-San...|    -25200|        public|           Fun Folks|
+-------+--------------+-------+--------+---------+----------------------+-----------+------------+-------+-----+-----+--------+-----------+--------------------+------------------+-------------------+--------------------+--------------------+----------------+---------+---------+-------+--------------------+-------------------+--------------------+------------------------+--------------------+------+----------+--------------------+----------+--------------+--------------------+
only showing top 20 rows

In [103]:
DF2=join(data_events, data_venues, cond=['venue_id'], how ='left')

In [104]:
DF2.show()

+--------+------------+-------------------+--------------------+--------+-----------+----------+------------+---------------+---------+------------+-------------------+---------------+---------------+--------+---------------+--------------------+--------------------+--------------+---------+--------------------+----------------+--------------------+--------------+------------+----------+------------+-------------------+-------------------+----------+------------------+---------------+----------+-------------+---------+----------------------------+----------+---------------+-----------+--------------+-----------+---------+----------+--------------+---------+--------------+------------------+-------+-------+--------+---------+----------------------+----------+---------------+------+------------+-----+-----+-----------------+
|venue_id|    event_id|            created|         description|duration|fee.accepts|fee.amount|fee.currency|fee.description|fee.label|fee.required|      group.created|group.group_lat|group.group_lon|group_id|group.join_mode|          group.name|       group.urlname|     group.who|headcount|      how_to_find_us|maybe_rsvp_count|          event_name|rating.average|rating.count|rsvp_limit|event_status|         event_time|            updated|utc_offset|   venue.address_1|venue.address_2|venue.city|venue.country|venue.lat|venue.localized_country_name| venue.lon|     venue.name|venue.phone|venue.repinned|venue.state|venue.zip|visibility|waitlist_count|      why|yes_rsvp_count|         address_1|   city|country|distance|      lat|localized_country_name|       lon|     venue_name|rating|rating_count|state|  zip|normalised_rating|
+--------+------------+-------------------+--------------------+--------+-----------+----------+------------+---------------+---------+------------+-------------------+---------------+---------------+--------+---------------+--------------------+--------------------+--------------+---------+--------------------+----------------+--------------------+--------------+------------+----------+------------+-------------------+-------------------+----------+------------------+---------------+----------+-------------+---------+----------------------------+----------+---------------+-----------+--------------+-----------+---------+----------+--------------+---------+--------------+------------------+-------+-------+--------+---------+----------------------+----------+---------------+------+------------+-----+-----+-----------------+
|  843188|dnkfxlywnbnc|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2017-10-30 17:00:00|2016-08-19 03:03:51|    -18000|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlywpbbc|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2017-11-20 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlywpbjb|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2017-11-06 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlywpbkc|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2017-11-27 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlywpbrb|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2017-11-13 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlywqbgb|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2017-12-04 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlywqbhc|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2017-12-25 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlywqbpb|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2017-12-11 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlywqbxb|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2017-12-18 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlyxcbcb|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2018-01-01 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlyxcbdc|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2018-01-22 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlyxcblb|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2018-01-08 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlyxcbmc|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2018-01-29 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlyxcbtb|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2018-01-15 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlyxdbhb|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2018-02-05 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlyxdbjc|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2018-02-26 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlyxdbqb|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2018-02-12 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlyxdbzb|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2018-02-19 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlyxfbhb|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2018-03-05 18:00:00|2016-08-19 03:03:51|    -21600|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|
|  843188|dnkfxlyxfbjc|2016-08-19 03:03:51|Whether you're wo...|   10800|     others|       0.0|   not_found|     per person|    Price|           0|2012-12-13 10:00:26|      41.919998|     -87.699997| 6224252|       approval|Chicago Womens Cr...|Chicago-Womens-Cr...|Creative Women|        0|We are almost alw...|               0|CO-WORKING for WR...|           0.0|          -1|         5|    upcoming|2018-03-26 17:00:00|2016-08-19 03:03:51|    -18000|3103 W. Logan Blvd|      not_found|   Chicago|           us|41.927906|                         USA|-87.705089|New Wave Coffee|         -1|             0|         IL|       -1|    public|             0|not_found|             1|3103 W. Logan Blvd|Chicago|     us|     0.0|41.927906|                   USA|-87.705089|New Wave Coffee|  4.53|        34.0|   IL|60647|              4.4|

In [106]:
DF3=join(data_groupsTopics, data_topics, cond=['topic_id'], how ='left')

In [107]:
DF3.show()

+--------+----------+----------+--------+--------------------+-------+----------+-------------+
|topic_id| topic_key|topic_name|group_id|         description|members|    urlkey|main_topic_id|
+--------+----------+----------+--------+--------------------+-------+----------+-------------+
|      83|sportsfans|Sports Fan|  241031|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan|  289172|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan|  295444|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan| 1040320|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan| 1403055|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan| 1426482|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan| 1491757|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan| 1492775|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan| 1621920|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan| 1683009|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan| 1714061|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan| 1733916|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan| 3546292|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan| 3680352|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan| 3785922|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan| 3884992|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan| 4021122|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan| 4274282|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan| 4286742|Meet with others ...| 471594|sportsfans|        10451|
|      83|sportsfans|Sports Fan| 4316032|Meet with others ...| 471594|sportsfans|        10451|
+--------+----------+----------+--------+--------------------+-------+----------+-------------+
only showing top 20 rows

In [108]:
DF4 = join(DF1,DF2, cond=['group_id'], how='left')

In [110]:
DF4.show()

+--------+-------+-------------+-------+--------+---------+----------------------+-----------+------------+-------+-----+-----+-----------+--------------------+--------------------+-------------------+--------------------+--------------------+----------------+---------+---------+-------+--------------------+-------------------+-----------------+------------------------+--------------------+------+----------+--------------------+----------+--------------+-------------------+--------+--------+--------+-----------+----------+------------+---------------+---------+------------+-------------+---------------+---------------+---------------+----------+-------------+---------+---------+--------------+----------------+----------+--------------+------------+----------+------------+----------+-------+---------------+---------------+----------+-------------+---------+----------------------------+---------+----------+-----------+--------------+-----------+---------+--------------+----+--------------+---------+----+----------+------------+-----------------+
|group_id|city_id|         city|country|distance| latitude|localized_country_name|  longitude|member_count|ranking|state|  zip|category_id|       category.name|  category.shortname|            created|         description|group_photo.photo_id|group_photo.type|join_mode|      lat|members|          group_name|organizer.member_id|   organizer.name|organizer.photo.photo_id|organizer.photo.type|rating|  timezone|             urlname|utc_offset|    visibility|                who|venue_id|event_id|duration|fee.accepts|fee.amount|fee.currency|fee.description|fee.label|fee.required|group.created|group.group_lat|group.group_lon|group.join_mode|group.name|group.urlname|group.who|headcount|how_to_find_us|maybe_rsvp_count|event_name|rating.average|rating.count|rsvp_limit|event_status|event_time|updated|venue.address_1|venue.address_2|venue.city|venue.country|venue.lat|venue.localized_country_name|venue.lon|venue.name|venue.phone|venue.repinned|venue.state|venue.zip|waitlist_count| why|yes_rsvp_count|address_1| lon|venue_name|rating_count|normalised_rating|
+--------+-------+-------------+-------+--------+---------+----------------------+-----------+------------+-------+-----+-----+-----------+--------------------+--------------------+-------------------+--------------------+--------------------+----------------+---------+---------+-------+--------------------+-------------------+-----------------+------------------------+--------------------+------+----------+--------------------+----------+--------------+-------------------+--------+--------+--------+-----------+----------+------------+---------------+---------+------------+-------------+---------------+---------------+---------------+----------+-------------+---------+---------+--------------+----------------+----------+--------------+------------+----------+------------+----------+-------+---------------+---------------+----------+-------------+---------+----------------------------+---------+----------+-----------+--------------+-----------+---------+--------------+----+--------------+---------+----+----------+------------+-----------------+
|   37146|  60601|      Chicago|     us|1798.434|41.880001|                   USA| -87.620003|       90918|      0|   IL|60290|         29|      sci-fi/fantasy|      sci-fi-fantasy|2003-02-02 17:47:47|This comic book m...|             4821334|           event|     open|41.990002|    731|The Chicago Comic...|            1910230|            Terry|               147968962|              member|   4.6|US/Central|       comicschicago|    -18000|        public|Comics Loving Geeks|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|
|  682942|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         31|         socializing|         socializing|2007-09-14 01:33:52|Sierra Club Inspi...|             2096447|           event| approval|40.740002|    378|New York City Ins...|           12086455|     Katie George|               192376062|              member|  4.88|US/Eastern|              nycico|    -14400|public_limited|         Volunteers|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|
|  687322|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         15|      hobbies/crafts|      hobbies-crafts|2007-09-16 01:06:38|This Meetup Group...|           144976092|           event|     open|40.759998|   1440|Business is Art &...|            9426673| Zorka Kovacevich|                24150022|              member|  4.73|US/Eastern|  Zorkas-BusinessArt|    -14400|        public|       Art$$$Makers|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|
|  807758|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         23|  outdoors/adventure|  outdoors-adventure|2007-11-09 18:25:56|The Meetup's 500+...|           236576902|           event|     open|40.740002|   1063|The Miramar Ski Club|            2665123|             Matt|                 3065904|              member|   4.8|US/Eastern|      MiramarSkiClub|    -14400|        public|          Ski Fans!|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|
| 1288106|  94101|San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|         10|          food/drink|          food-drink|2008-09-23 18:44:18|Meet other local ...|            91744592|           event|     open|37.799999|    897|SouthEastAsian Ex...|            7961379|          Azmeera|                 4651345|              member|  4.79|US/Pacific|          SFSEAexpat|    -25200|        public|            Members|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|
| 1308839|  94101|San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|         26|        pets/animals|        pets-animals|2008-10-26 18:40:00|Meet other Cavali...|             6349748|           event|     open|37.799999|    638|The San Francisco...|            9817764|         Don Horn|                87255822|              member|  4.82|US/Pacific|          sfcavalier|    -25200|        public|   Cavalier CRAZIES|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|
| 1460361|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         30|             singles|             singles|2009-05-22 15:07:37|This group is abo...|           403740242|           event|     open|40.759998|   1139|Heal the Loss of ...|            7098834|       Ben Oofana|                72341662|              member|  4.44|US/Eastern|Heal-the-Loss-of-...|    -14400|        public|            members|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|
| 1483633|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         34|                tech|                tech|2009-07-03 18:50:28|The mission of Cl...|           458247654|           event|     open|40.720001|   1457|         Clojure NYC|           10527166|     Andy Parsons|                40413602|              member|  4.57|US/Eastern|         Clojure-NYC|    -14400|        public|         Clojurians|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|
| 1533340|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         10|          food/drink|          food-drink|2009-10-01 19:35:48|This is one of a ...|           447727070|           event|     open|    40.75|    337|Hospitalented: Ne...|            3706728|Damien Duchamp II|                 7781909|              member|   4.5|US/Eastern|              Hospi1|    -14400|        public|            Members|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|
| 1539044|  60601|      Chicago|     us|1798.434|41.880001|                   USA| -87.620003|       90918|      0|   IL|60290|         34|                tech|                tech|2009-10-12 19:02:57|This group will c...|           458822127|           event|     open|41.889999|    793|Business Intellig...|          186568989|            Kathy|               245647193|              member|  4.88|US/Central|           BIChicago|    -18000|        public|            Members|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|
| 1635136|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         16|language/ethnic i...|            language|2010-04-23 04:58:18|This group is for...|           451822325|           event| approval|40.720001|   1290|NYC Asians 30's &...|            8566611|         Benjamin|               245273353|              member|   4.8|US/Eastern|  NYC-Asians-30s-40s|    -14400|public_limited|            Members|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|
| 1707405|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|          2|     career/business|     career-business|2010-09-15 19:02:04|A group dedicated...|            18004282|           event| approval|40.759998|    125|   Automated Trading|            7460133|              Max|                10785852|              member|  4.92|US/Eastern|    AutomatedTrading|    -14400|        public|            experts|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|
| 1716311|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|          4|community/environ...|community-environ...|2010-10-03 06:36:11|MISSION\nThe Arti...|            18424367|           event|     open|40.810001|    107|Artists' Rights M...|           13105825|     Steve Lehman|                10923033|              member|   5.0|US/Eastern|     artistsrightsny|    -14400|        public|          Activists|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|
| 1748515|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         34|                tech|                tech|2010-12-09 14:23:53|LispNYCbrings tog...|           458373849|           event|     open|    40.75|   1548|             LispNYC|           13552250|    Arthur Smyles|                11473676|              member|  4.75|US/Eastern|             LispNYC|    -14400|        public|           Lispnycs|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|
| 1799642|  60601|      Chicago|     us|1798.434|41.880001|                   USA| -87.620003|       90918|      0|   IL|60290|         25|      parents/family|      parents-family|2011-03-16 14:42:24|Due to changes in...|                  -1|          others| approval|41.880001|      1|           Pinwheels|           14259133|      Lorena Cory|                12425883|              member|  4.97|US/Central|           Pinwheels|    -18000|public_limited|            Members|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|

In [111]:
DF5=join(DF4,DF3, cond=['group_id'], how='left')

In [112]:
DF5.show()

+--------+-------+-------------+-------+--------+---------+----------------------+-----------+------------+-------+-----+-----+-----------+------------------+------------------+-------------------+--------------------+--------------------+----------------+---------+---------+-------+--------------------+-------------------+-----------------+------------------------+--------------------+------+----------+--------------------+----------+--------------+-------------------+--------+--------+--------+-----------+----------+------------+---------------+---------+------------+-------------+---------------+---------------+---------------+----------+-------------+---------+---------+--------------+----------------+----------+--------------+------------+----------+------------+----------+-------+---------------+---------------+----------+-------------+---------+----------------------------+---------+----------+-----------+--------------+-----------+---------+--------------+----+--------------+---------+----+----------+------------+-----------------+--------+--------------------+--------------------+--------------------+-------------+
|group_id|city_id|         city|country|distance| latitude|localized_country_name|  longitude|member_count|ranking|state|  zip|category_id|     category.name|category.shortname|            created|         description|group_photo.photo_id|group_photo.type|join_mode|      lat|members|          group_name|organizer.member_id|   organizer.name|organizer.photo.photo_id|organizer.photo.type|rating|  timezone|             urlname|utc_offset|    visibility|                who|venue_id|event_id|duration|fee.accepts|fee.amount|fee.currency|fee.description|fee.label|fee.required|group.created|group.group_lat|group.group_lon|group.join_mode|group.name|group.urlname|group.who|headcount|how_to_find_us|maybe_rsvp_count|event_name|rating.average|rating.count|rsvp_limit|event_status|event_time|updated|venue.address_1|venue.address_2|venue.city|venue.country|venue.lat|venue.localized_country_name|venue.lon|venue.name|venue.phone|venue.repinned|venue.state|venue.zip|waitlist_count| why|yes_rsvp_count|address_1| lon|venue_name|rating_count|normalised_rating|topic_id|           topic_key|          topic_name|              urlkey|main_topic_id|
+--------+-------+-------------+-------+--------+---------+----------------------+-----------+------------+-------+-----+-----+-----------+------------------+------------------+-------------------+--------------------+--------------------+----------------+---------+---------+-------+--------------------+-------------------+-----------------+------------------------+--------------------+------+----------+--------------------+----------+--------------+-------------------+--------+--------+--------+-----------+----------+------------+---------------+---------+------------+-------------+---------------+---------------+---------------+----------+-------------+---------+---------+--------------+----------------+----------+--------------+------------+----------+------------+----------+-------+---------------+---------------+----------+-------------+---------+----------------------------+---------+----------+-----------+--------------+-----------+---------+--------------+----+--------------+---------+----+----------+------------+-----------------+--------+--------------------+--------------------+--------------------+-------------+
|   37146|  60601|      Chicago|     us|1798.434|41.880001|                   USA| -87.620003|       90918|      0|   IL|60290|         29|    sci-fi/fantasy|    sci-fi-fantasy|2003-02-02 17:47:47|This comic book m...|             4821334|           event|     open|41.990002|    731|The Chicago Comic...|            1910230|            Terry|               147968962|              member|   4.6|US/Central|       comicschicago|    -18000|        public|Comics Loving Geeks|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|    null|                null|                null|                null|         null|
|  682942|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         31|       socializing|       socializing|2007-09-14 01:33:52|Sierra Club Inspi...|             2096447|           event| approval|40.740002|    378|New York City Ins...|           12086455|     Katie George|               192376062|              member|  4.88|US/Eastern|              nycico|    -14400|public_limited|         Volunteers|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|    null|                null|                null|                null|         null|
|  687322|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         15|    hobbies/crafts|    hobbies-crafts|2007-09-16 01:06:38|This Meetup Group...|           144976092|           event|     open|40.759998|   1440|Business is Art &...|            9426673| Zorka Kovacevich|                24150022|              member|  4.73|US/Eastern|  Zorkas-BusinessArt|    -14400|        public|       Art$$$Makers|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|   10099|           craftswap|              Crafts|           craftswap|        10099|
|  687322|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         15|    hobbies/crafts|    hobbies-crafts|2007-09-16 01:06:38|This Meetup Group...|           144976092|           event|     open|40.759998|   1440|Business is Art &...|            9426673| Zorka Kovacevich|                24150022|              member|  4.73|US/Eastern|  Zorkas-BusinessArt|    -14400|        public|       Art$$$Makers|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|   10581|              social|              Social|              social|        10581|
|  687322|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         15|    hobbies/crafts|    hobbies-crafts|2007-09-16 01:06:38|This Meetup Group...|           144976092|           event|     open|40.759998|   1440|Business is Art &...|            9426673| Zorka Kovacevich|                24150022|              member|  4.73|US/Eastern|  Zorkas-BusinessArt|    -14400|        public|       Art$$$Makers|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|   15043| photography-classes| Photography Classes| photography-classes|          223|
|  687322|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         15|    hobbies/crafts|    hobbies-crafts|2007-09-16 01:06:38|This Meetup Group...|           144976092|           event|     open|40.759998|   1440|Business is Art &...|            9426673| Zorka Kovacevich|                24150022|              member|  4.73|US/Eastern|  Zorkas-BusinessArt|    -14400|        public|       Art$$$Makers|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|   21810|     mixed-media-art|     Mixed Media Art|     mixed-media-art|         1502|
|  807758|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         23|outdoors/adventure|outdoors-adventure|2007-11-09 18:25:56|The Meetup's 500+...|           236576902|           event|     open|40.740002|   1063|The Miramar Ski Club|            2665123|             Matt|                 3065904|              member|   4.8|US/Eastern|      MiramarSkiClub|    -14400|        public|          Ski Fans!|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|    4422|       socialnetwork|   Social Networking|       socialnetwork|        10581|
|  807758|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         23|outdoors/adventure|outdoors-adventure|2007-11-09 18:25:56|The Meetup's 500+...|           236576902|           event|     open|40.740002|   1063|The Miramar Ski Club|            2665123|             Matt|                 3065904|              member|   4.8|US/Eastern|      MiramarSkiClub|    -14400|        public|          Ski Fans!|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|   10451|              sports|Sports and Recrea...|              sports|        10451|
|  807758|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         23|outdoors/adventure|outdoors-adventure|2007-11-09 18:25:56|The Meetup's 500+...|           236576902|           event|     open|40.740002|   1063|The Miramar Ski Club|            2665123|             Matt|                 3065904|              member|   4.8|US/Eastern|      MiramarSkiClub|    -14400|        public|          Ski Fans!|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|   15046|            outdoors|            Outdoors|            outdoors|        15046|
| 1288106|  94101|San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|         10|        food/drink|        food-drink|2008-09-23 18:44:18|Meet other local ...|            91744592|           event|     open|37.799999|    897|SouthEastAsian Ex...|            7961379|          Azmeera|                 4651345|              member|  4.79|US/Pacific|          SFSEAexpat|    -25200|        public|            Members|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|   10454|            language|  Language & Culture|            language|        10454|
| 1288106|  94101|San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|         10|        food/drink|        food-drink|2008-09-23 18:44:18|Meet other local ...|            91744592|           event|     open|37.799999|    897|SouthEastAsian Ex...|            7961379|          Azmeera|                 4651345|              member|  4.79|US/Pacific|          SFSEAexpat|    -25200|        public|            Members|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|   67622|    culture-exchange|    Culture Exchange|    culture-exchange|        10454|
| 1308839|  94101|San Francisco|     us|  31.839|37.779999|                   USA|-122.419998|       60351|      2|   CA|94101|         26|      pets/animals|      pets-animals|2008-10-26 18:40:00|Meet other Cavali...|             6349748|           event|     open|37.799999|    638|The San Francisco...|            9817764|         Don Horn|                87255822|              member|  4.82|US/Pacific|          sfcavalier|    -25200|        public|   Cavalier CRAZIES|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|    null|                null|                null|                null|         null|
| 1460361|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         30|           singles|           singles|2009-05-22 15:07:37|This group is abo...|           403740242|           event|     open|40.759998|   1139|Heal the Loss of ...|            7098834|       Ben Oofana|                72341662|              member|  4.44|US/Eastern|Heal-the-Loss-of-...|    -14400|        public|            members|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|   10290|        spirituality|        Spirituality|        spirituality|        10290|
| 1460361|  10001|     New York|     us|2526.837|    40.75|                   USA| -73.989998|      229371|      0|   NY|10001|         30|           singles|           singles|2009-05-22 15:07:37|This group is abo...|           403740242|           event|     open|40.759998|   1139|Heal the Loss of ...|            7098834|       Ben Oofana|                72341662|              member|  4.44|US/Eastern|Heal-the-Loss-of-...|    -14400|        public|            members|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|   10581|              social|              Social|              social|        10581|

In [113]:
DF_Batch= join(DF5, data_members, cond=['group_id'], how='left')

In [114]:
DF_Batch.show()

+--------+-------+-------+-------+--------+---------+----------------------+----------+------------+-------+-----+-----+-----------+--------------+------------------+-------------------+--------------------+--------------------+----------------+---------+---------+-------+--------------------+-------------------+--------------+------------------------+--------------------+------+----------+-------------+----------+----------+-------------------+--------+--------+--------+-----------+----------+------------+---------------+---------+------------+-------------+---------------+---------------+---------------+----------+-------------+---------+---------+--------------+----------------+----------+--------------+------------+----------+------------+----------+-------+---------------+---------------+----------+-------------+---------+----------------------------+---------+----------+-----------+--------------+-----------+---------+--------------+----+--------------+---------+----+----------+------------+-----------------+--------+---------+----------+------+-------------+---------+--------------------+----------+-------------------+-----------------+-------------+-------------------+
|group_id|city_id|   city|country|distance| latitude|localized_country_name| longitude|member_count|ranking|state|  zip|category_id| category.name|category.shortname|            created|         description|group_photo.photo_id|group_photo.type|join_mode|      lat|members|          group_name|organizer.member_id|organizer.name|organizer.photo.photo_id|organizer.photo.type|rating|  timezone|      urlname|utc_offset|visibility|                who|venue_id|event_id|duration|fee.accepts|fee.amount|fee.currency|fee.description|fee.label|fee.required|group.created|group.group_lat|group.group_lon|group.join_mode|group.name|group.urlname|group.who|headcount|how_to_find_us|maybe_rsvp_count|event_name|rating.average|rating.count|rsvp_limit|event_status|event_time|updated|venue.address_1|venue.address_2|venue.city|venue.country|venue.lat|venue.localized_country_name|venue.lon|venue.name|venue.phone|venue.repinned|venue.state|venue.zip|waitlist_count| why|yes_rsvp_count|address_1| lon|venue_name|rating_count|normalised_rating|topic_id|topic_key|topic_name|urlkey|main_topic_id|member_id|                 bio|  hometown|             joined|      member_name|member_status|            visited|
+--------+-------+-------+-------+--------+---------+----------------------+----------+------------+-------+-----+-----+-----------+--------------+------------------+-------------------+--------------------+--------------------+----------------+---------+---------+-------+--------------------+-------------------+--------------+------------------------+--------------------+------+----------+-------------+----------+----------+-------------------+--------+--------+--------+-----------+----------+------------+---------------+---------+------------+-------------+---------------+---------------+---------------+----------+-------------+---------+---------+--------------+----------------+----------+--------------+------------+----------+------------+----------+-------+---------------+---------------+----------+-------------+---------+----------------------------+---------+----------+-----------+--------------+-----------+---------+--------------+----+--------------+---------+----+----------+------------+-----------------+--------+---------+----------+------+-------------+---------+--------------------+----------+-------------------+-----------------+-------------+-------------------+
|   37146|  60601|Chicago|     us|1798.434|41.880001|                   USA|-87.620003|       90918|      0|   IL|60290|         29|sci-fi/fantasy|    sci-fi-fantasy|2003-02-02 17:47:47|This comic book m...|             4821334|           event|     open|41.990002|    731|The Chicago Comic...|            1910230|         Terry|               147968962|              member|   4.6|US/Central|comicschicago|    -18000|    public|Comics Loving Geeks|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|    null|     null|      null|  null|         null|     6688|           not_found| not_found|2012-03-16 02:03:06|      Matt Maldre|       active|2013-07-10 22:12:31|
|   37146|  60601|Chicago|     us|1798.434|41.880001|                   USA|-87.620003|       90918|      0|   IL|60290|         29|sci-fi/fantasy|    sci-fi-fantasy|2003-02-02 17:47:47|This comic book m...|             4821334|           event|     open|41.990002|    731|The Chicago Comic...|            1910230|         Terry|               147968962|              member|   4.6|US/Central|comicschicago|    -18000|    public|Comics Loving Geeks|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|    null|     null|      null|  null|         null|    10548|           not_found|   Chicago|2016-02-14 06:06:19|   Dave Schneider|       active|2016-04-15 18:10:04|
|   37146|  60601|Chicago|     us|1798.434|41.880001|                   USA|-87.620003|       90918|      0|   IL|60290|         29|sci-fi/fantasy|    sci-fi-fantasy|2003-02-02 17:47:47|This comic book m...|             4821334|           event|     open|41.990002|    731|The Chicago Comic...|            1910230|         Terry|               147968962|              member|   4.6|US/Central|comicschicago|    -18000|    public|Comics Loving Geeks|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|    null|     null|      null|  null|         null|    10600|           not_found|  Petoskey|2015-03-20 19:19:04|Kevin Buckstiegel|       active|2015-05-14 18:50:07|
|   37146|  60601|Chicago|     us|1798.434|41.880001|                   USA|-87.620003|       90918|      0|   IL|60290|         29|sci-fi/fantasy|    sci-fi-fantasy|2003-02-02 17:47:47|This comic book m...|             4821334|           event|     open|41.990002|    731|The Chicago Comic...|            1910230|         Terry|               147968962|              member|   4.6|US/Central|comicschicago|    -18000|    public|Comics Loving Geeks|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|    null|     null|      null|  null|         null|    52020|           not_found| not_found|2009-10-05 04:34:17|              Nyx|       active|2017-09-07 19:58:50|
|   37146|  60601|Chicago|     us|1798.434|41.880001|                   USA|-87.620003|       90918|      0|   IL|60290|         29|sci-fi/fantasy|    sci-fi-fantasy|2003-02-02 17:47:47|This comic book m...|             4821334|           event|     open|41.990002|    731|The Chicago Comic...|            1910230|         Terry|               147968962|              member|   4.6|US/Central|comicschicago|    -18000|    public|Comics Loving Geeks|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|    null|     null|      null|  null|         null|    86324|Eclectic tastes, ...|   Chicago|2003-10-06 22:06:03|              Ian|       active|2004-09-12 08:34:53|
|   37146|  60601|Chicago|     us|1798.434|41.880001|                   USA|-87.620003|       90918|      0|   IL|60290|         29|sci-fi/fantasy|    sci-fi-fantasy|2003-02-02 17:47:47|This comic book m...|             4821334|           event|     open|41.990002|    731|The Chicago Comic...|            1910230|         Terry|               147968962|              member|   4.6|US/Central|comicschicago|    -18000|    public|Comics Loving Geeks|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|    null|     null|      null|  null|         null|   155036|I am hoping to ne...|   Chicago|2009-10-15 03:08:56|   Keith Woodruff|       active|2009-10-15 03:08:56|
|   37146|  60601|Chicago|     us|1798.434|41.880001|                   USA|-87.620003|       90918|      0|   IL|60290|         29|sci-fi/fantasy|    sci-fi-fantasy|2003-02-02 17:47:47|This comic book m...|             4821334|           event|     open|41.990002|    731|The Chicago Comic...|            1910230|         Terry|               147968962|              member|   4.6|US/Central|comicschicago|    -18000|    public|Comics Loving Geeks|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|    null|     null|      null|  null|         null|   196475|           not_found| not_found|2003-03-06 18:04:50|        jcbart137|       active|2004-08-05 02:48:10|
|   37146|  60601|Chicago|     us|1798.434|41.880001|                   USA|-87.620003|       90918|      0|   IL|60290|         29|sci-fi/fantasy|    sci-fi-fantasy|2003-02-02 17:47:47|This comic book m...|             4821334|           event|     open|41.990002|    731|The Chicago Comic...|            1910230|         Terry|               147968962|              member|   4.6|US/Central|comicschicago|    -18000|    public|Comics Loving Geeks|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|    null|     null|      null|  null|         null|   212763|           not_found|Detroit MI|2013-02-03 16:15:04|         Lane Lee|       active|2017-08-19 23:12:54|
|   37146|  60601|Chicago|     us|1798.434|41.880001|                   USA|-87.620003|       90918|      0|   IL|60290|         29|sci-fi/fantasy|    sci-fi-fantasy|2003-02-02 17:47:47|This comic book m...|             4821334|           event|     open|41.990002|    731|The Chicago Comic...|            1910230|         Terry|               147968962|              member|   4.6|US/Central|comicschicago|    -18000|    public|Comics Loving Geeks|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|    null|     null|      null|  null|         null|   267157|           not_found| not_found|2003-05-07 02:39:11|     levresdesang|       active|2004-08-05 02:48:10|
|   37146|  60601|Chicago|     us|1798.434|41.880001|                   USA|-87.620003|       90918|      0|   IL|60290|         29|sci-fi/fantasy|    sci-fi-fantasy|2003-02-02 17:47:47|This comic book m...|             4821334|           event|     open|41.990002|    731|The Chicago Comic...|            1910230|         Terry|               147968962|              member|   4.6|US/Central|comicschicago|    -18000|    public|Comics Loving Geeks|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|    null|     null|      null|  null|         null|   274877|           not_found| not_found|2007-07-13 00:57:13|            Shane|       active|2013-10-19 23:14:28|
|   37146|  60601|Chicago|     us|1798.434|41.880001|                   USA|-87.620003|       90918|      0|   IL|60290|         29|sci-fi/fantasy|    sci-fi-fantasy|2003-02-02 17:47:47|This comic book m...|             4821334|           event|     open|41.990002|    731|The Chicago Comic...|            1910230|         Terry|               147968962|              member|   4.6|US/Central|comicschicago|    -18000|    public|Comics Loving Geeks|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|    null|     null|      null|  null|         null|   494903|Howdy,\n\nI do lo...|   Chicago|2007-02-22 00:11:17|             Lana|       active|2015-12-16 20:36:15|
|   37146|  60601|Chicago|     us|1798.434|41.880001|                   USA|-87.620003|       90918|      0|   IL|60290|         29|sci-fi/fantasy|    sci-fi-fantasy|2003-02-02 17:47:47|This comic book m...|             4821334|           event|     open|41.990002|    731|The Chicago Comic...|            1910230|         Terry|               147968962|              member|   4.6|US/Central|comicschicago|    -18000|    public|Comics Loving Geeks|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|    null|     null|      null|  null|         null|   554640|I'm Greg, the one...|   Chicago|2003-08-23 04:33:32|       Greg Eagel|       active|2004-08-05 02:48:10|
|   37146|  60601|Chicago|     us|1798.434|41.880001|                   USA|-87.620003|       90918|      0|   IL|60290|         29|sci-fi/fantasy|    sci-fi-fantasy|2003-02-02 17:47:47|This comic book m...|             4821334|           event|     open|41.990002|    731|The Chicago Comic...|            1910230|         Terry|               147968962|              member|   4.6|US/Central|comicschicago|    -18000|    public|Comics Loving Geeks|    null|    null|    null|       null|      null|        null|           null|     null|        null|         null|           null|           null|           null|      null|         null|     null|     null|          null|            null|      null|          null|        null|      null|        null|      null|   null|           null|           null|      null|         null|     null|                        null|     null|      null|       null|          null|       null|     null|          null|null|          null|     null|null|      null|        null|             null|    null|     null|      null|  null|         null|   639573|Lifetime Comic Bo...| not_found|2009-06-29 15:14:40|     smallville03|       active|2014-02-10 17:46:36|

In [116]:
print ((DF_Batch.count() , len (DF_Batch.columns)))

(715728, 91)

In [117]:
DF_Batch.printSchema()
DF_Batch.describe().toPandas().transpose()

root
 |-- group_id: integer (nullable = true)
 |-- city_id: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- distance: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- localized_country_name: string (nullable = true)
 |-- longitude: double (nullable = true)
 |-- member_count: integer (nullable = true)
 |-- ranking: integer (nullable = true)
 |-- state: string (nullable = true)
 |-- zip: integer (nullable = true)
 |-- category_id: integer (nullable = true)
 |-- category.name: string (nullable = true)
 |-- category.shortname: string (nullable = true)
 |-- created: string (nullable = true)
 |-- description: string (nullable = true)
 |-- group_photo.photo_id: integer (nullable = true)
 |-- group_photo.type: string (nullable = true)
 |-- join_mode: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- members: integer (nullable = true)
 |-- group_name: string (nullable = true)
 |-- organizer.member_id: integer (nullable = true)
 |-- organizer.name: string (nullable = true)
 |-- organizer.photo.photo_id: integer (nullable = true)
 |-- organizer.photo.type: string (nullable = true)
 |-- rating: double (nullable = true)
 |-- timezone: string (nullable = true)
 |-- urlname: string (nullable = true)
 |-- utc_offset: integer (nullable = true)
 |-- visibility: string (nullable = true)
 |-- who: string (nullable = true)
 |-- venue_id: integer (nullable = true)
 |-- event_id: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- fee.accepts: string (nullable = true)
 |-- fee.amount: double (nullable = true)
 |-- fee.currency: string (nullable = true)
 |-- fee.description: string (nullable = true)
 |-- fee.label: string (nullable = true)
 |-- fee.required: integer (nullable = true)
 |-- group.created: string (nullable = true)
 |-- group.group_lat: double (nullable = true)
 |-- group.group_lon: double (nullable = true)
 |-- group.join_mode: string (nullable = true)
 |-- group.name: string (nullable = true)
 |-- group.urlname: string (nullable = true)
 |-- group.who: string (nullable = true)
 |-- headcount: integer (nullable = true)
 |-- how_to_find_us: string (nullable = true)
 |-- maybe_rsvp_count: integer (nullable = true)
 |-- event_name: string (nullable = true)
 |-- rating.average: double (nullable = true)
 |-- rating.count: integer (nullable = true)
 |-- rsvp_limit: integer (nullable = true)
 |-- event_status: string (nullable = true)
 |-- event_time: string (nullable = true)
 |-- updated: string (nullable = true)
 |-- venue.address_1: string (nullable = true)
 |-- venue.address_2: string (nullable = true)
 |-- venue.city: string (nullable = true)
 |-- venue.country: string (nullable = true)
 |-- venue.lat: double (nullable = true)
 |-- venue.localized_country_name: string (nullable = true)
 |-- venue.lon: double (nullable = true)
 |-- venue.name: string (nullable = true)
 |-- venue.phone: long (nullable = true)
 |-- venue.repinned: integer (nullable = true)
 |-- venue.state: string (nullable = true)
 |-- venue.zip: integer (nullable = true)
 |-- waitlist_count: integer (nullable = true)
 |-- why: string (nullable = true)
 |-- yes_rsvp_count: integer (nullable = true)
 |-- address_1: string (nullable = true)
 |-- lon: double (nullable = true)
 |-- venue_name: string (nullable = true)
 |-- rating_count: double (nullable = true)
 |-- normalised_rating: double (nullable = true)
 |-- topic_id: integer (nullable = true)
 |-- topic_key: string (nullable = true)
 |-- topic_name: string (nullable = true)
 |-- urlkey: string (nullable = true)
 |-- main_topic_id: integer (nullable = true)
 |-- member_id: integer (nullable = true)
 |-- bio: string (nullable = true)
 |-- hometown: string (nullable = true)
 |-- joined: string (nullable = true)
 |-- member_name: string (nullable = true)
 |-- member_status: string (nullable = true)
 |-- visited: string (nullable = true)

                    0  ...                    4
summary         count  ...                  max
group_id       715724  ...             26378470
city_id        715728  ...                95712
city           715728  ...        West New York
country        715728  ...                   us
...               ...  ...                  ...
hometown       701706  ...                utica
joined         701782  ...  2017-11-09 15:39:25
member_name    701764  ...             ~Seleee~
member_status  701782  ...               active
visited        701782  ...  2017-11-09 18:16:09

[92 rows x 5 columns]